@model MLMExchange.Areas.AdminPanel.Models.User.ControlPanelModel

@{
    ViewBag.Title = @MLMExchange.Properties.ResourcesA.ControlPanel;
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanel__Layout.cshtml";
}

<section class="pb-cp">
  @Html.Partial("~/Areas/AdminPanel/Views/Shared/ControlPanel/_BindingParticipateApplication.cshtml", Model.BiddingParticipateApplicationStateModel)
</section><!--PB: Control panel-->
