@using Ext.Net
@using Ext.Net.MVC
@model MLMExchange.Models.Registration.UserModel

@{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.EditUser;
  Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanel__Layout.cshtml";
  var X = Html.X();
}

<section class="pb-eu">
  <header class="pb-eu__title">
    <h1 class="b-text">@MLMExchange.Properties.ResourcesA.EditUser</h1>
  </header>

  <div class="pb-eu__edit-zone">
    @using (Html.BeginForm("Edit", "/User/", FormMethod.Post, new { enctype = "multipart/form-data", @class = "b-f" }))
    {
      @Html.Partial("~/Views/Shared/Account/_EditUser.cshtml", Model, new ViewDataDictionary
      {
        new KeyValuePair<string, object>("Type", "blue"),
        new KeyValuePair<string, object>("Usage", "Edit")
      })

      <input style="position: absolute; visibility: hidden;" id="edit-user__submit-btn"
             class="b-button b-button_color_green-sea register-button b-button_hover-animate_opacity pb-eu__submit-btn b-button_size-admin-default" type="submit" value=@MLMExchange.Properties.ResourcesA.SaveButton />

      <a href="#" class="b-btn b-btn-flat-action pb-eu__submit-btn" onclick="javascript: $('#edit-user__submit-btn').click();">
        <i class="fa fa-save fa-lg"></i>
        @MLMExchange.Properties.ResourcesA.SaveButton
      </a>
    }
  </div>
</section><!--PB: Edit user-->
