@using Ext.Net
@using Ext.Net.MVC

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Html.X().ResourceManager()

<section class="pb-admin-panel">
  @Html.X().Button().Text("Hellow world!")
</section>

