@using Ext.Net
@using Ext.Net.MVC

@model System.Collections.IEnumerable

@{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.SalesPeople;
  Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanel__Layout.cshtml";
  var X = Html.X();
}

@{var gridPanel = X.GridPanel()
    .Title(MLMExchange.Properties.ResourcesA.SalesPeople)
    .Layout(LayoutType.Fit)
    .Store(
      X.Store()
      .RemotePaging(true)
      .PageSize(10)
      .DataSource(Model)
      .Model(X.Model().Fields(
          new ModelField { Name = "User", ServerMapping = "User.Name" },
          new ModelField { Name = "MyCryptCount" }
      )))
      .ColumnModel(
        X.RowNumbererColumn(),
        X.Column().Text("User").DataIndex("User").Flex(1),
  //X.TemplateColumn().TemplateString(@<div>Hellow {MyCryptCount}</div>),
        X.Column().Text("MyCryptCount").DataIndex("MyCryptCount").Flex(1),
        X.ImageCommandColumn().Commands(
          X.ImageCommand().CommandName("BuyMyCrypt").Icon(Icon.Accept).Text("Купить")
        )
        .Listeners(ls =>
        {
          ls.Command.Handler = X.Window().Modal(true).Width(700).Height(400).Title("Hellow world!").Content(
            x => Html.Partial("~/Areas/AdminPanel/Views/User/SalesPeople/_BuyMyCrypt.cshtml",
              new MLMExchange.Areas.AdminPanel.Models.User.SalesPeople.BuyMyCryptModel())).ToScript();
        }));}

@{
  (ViewData["AdminPanel__CenterBlock"] as Panel.Builder).Items(gridPanel);
}


