@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.MyCryptPage;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb b-sb__type__with-icon mycrypt-exchange">
  <header class="b-sb__top-section">

    <div class="b-sb__header">
      <div class="b-sb__title">
        <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.MyCryptPage</h1>
      </div>

      <div class="b-sb__header--content">

          <h2 class="mycrypt-block sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

          <hr class="b-hr"/>

      </div>
    </div>


    <aside class="b-sb__icon">
      <i class="all-icon mycrypt-icon"></i>
    </aside>

    <div class="b-sb__border-top"></div>
  </header>

  <div class="b-sb__content">

    <div class="b-sb__first-section">

    </div>

    <div class="b-sb__second-section">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum</p>

    <div class="youtube-block"><h1>Youtube.com</h1></div>

            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
            Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
            Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
            Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
            Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
            Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
            Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum
        </p>
    </div>
  </div>
</section>
