@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.MyCryptPage;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb b-sb__type__with-icon mycrypt-exchange">
  <header class="b-sb__top-section">

    <div class="b-sb__header">
      <div class="b-sb__title">
        <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.MyCryptPage</h1>
      </div>

      <div class="b-sb__header--content">
      </div>
    </div>


    <aside class="b-sb__icon">
      <i class="all-icon mycrypt-icon"></i>
    </aside>

    <div class="b-sb__border-top"></div>
  </header>

  <div class="b-sb__content">
    <div class="pb-scetch">
      <div class="pb-scetch__scetch-box">
        <div class="pb-scetch__image-box">
          <img class="all-icon mycrypt-icon" src="/Content/images/MycryptIndex/sketch-1.png" />
        </div>

        <div class="pb-scetch__text-block">
          <span class="pb-scetch__text text">Механизм торговли</span>
        </div>
      </div>

      <div class="pb-scetch__additional-info">
        <p>
          <span class="pb-scetch__text-block text">
            В основу работы биржи МС
            положен механизм краткосрочной торговли.
            Этот механизм успешно применяется
            на многих биржевых площадках мира в более сложном виде, с использованием множества различных
            данных для расчета переменных показателей рынка. Мы изменили ядро расчета показателей, оптимизировали его
            для работы с данными получаемыми непосредственно с Биржи МС отсекаявлияние
            внешних факторов и убрали всю ненужную "мишуру".
            Следуя идее создания народной биржи,  мы постарались сделать биржевую торговлю понятной народу, доступной самым разным слоям общества, для чего оставили только необходимые компоненты позволяющие Бирже МС
            успешно функционировать, а её участникам
            в короткие сроки разобраться с механизмом торговли и получать постоянную прибыль по каждой сделке с наименьшими рисками.
          </span>
        </p>
        <hr class="pb-scetch__hr b-hr b-hr_orientation_right" />
      </div>
    </div>
    
    <div class="pb-scetch pb-scetch_orientation_right" style="height: 300px">
      <div class="pb-scetch__scetch-box">
        <div class="pb-scetch__image-box">
          <img class="all-icon mycrypt-icon" src="/Content/images/MycryptIndex/sketch-2.png" />
        </div>

        <div class="pb-scetch__text-block">
          <span class="pb-scetch__text text">Основное отличие</span>
        </div>
      </div>

      <div class="pb-scetch__additional-info">
        <p>
          <span class="pb-scetch__text-block text">
            Основное отличие Биржи МС от валютного рынка Форекс и других мировых бирж в том,
            что все перечисления происходят напрямую между участниками сделки, минуя счета брокеров.
            Это позволяет создать условия для постоянного получения прибыли трейдерами, т.е. Вами!
            ведь на рынках в случае Вашего убытка прибыль получает брокер.
            Единственный платеж на счет биржи - это платеж за предоставление торговой площадки,
            поиск участника для удовлетворения Вашей заявки и контроль за выполнением участниками сделки правил Биржи МС.
          </span>
        </p>
        <hr class="pb-scetch__hr b-hr b-hr_orientation_left" />
      </div>
    </div>

    <div class="pb-scetch" style="height: 300px;">
      <div class="pb-scetch__scetch-box">
        <div class="pb-scetch__image-box">
          <img class="all-icon mycrypt-icon" src="/Content/images/MycryptIndex/sketch-3.png" />
        </div>

        <div class="pb-scetch__text-block">
          <span class="pb-scetch__text text">Основная задача</span>
        </div>
      </div>

      <div class="pb-scetch__additional-info" style="top: 0;">
        <p>
          <span class="pb-scetch__text-block text">
            Главная задача Биржи МС - создание народного рынка, в котором каждый из Вас сможет принять участие,
            реализуя свои Долговые обязательства и получая максимальную прибыль по всем сделкам,
            не вдаваясь при этом в тонкости и сложности действующих валютных рынков.
            Выступая в качестве продавца или покупателя,  Вам нет необходимости называться Брокером, а так же знать значения слов СПРЕД или ШОРТ,
            не обязательно знать, кто такие БЫКИ и МЕДВЕДИ на профессиональном сленге трейдеров, и вовсе не нужно заниматься анализом новостей и рисовать графики.
            Все данные Вы будете видеть перед началом своей торговой сессии
            и с этими же данными Вы закроете ее, получив расчетную прибыль.
          </span>
        </p>
        <hr class="pb-scetch__hr b-hr b-hr_orientation_right" />
      </div>
    </div>

    <div class="b-eb__content">
      <p class="b-eb__text">
        Основной внутренней расчетной единицей является МС - универсальная единица с нулевой надежностью, Ваше Долговое обязательство.
        Мы принимаем долговые обязательства от вкладчиков пирамиды МММ, участников HYIP и различных матричных проектов.
        Вам необходимо после регистрации прикрепить в своем кабинете скриншот ЛК проекта с указанием суммы долга
        или скриншот кошелька с которого переводились деньги в проект, с указанием наименования проекта.
        Задайте себе вопрос - Почему Вы все время работаете на долги?
        Измените свою реальность - Заставьте Ваши долги работать на Вас!!! <br />
        <span class="b-eb__centertext">Продай свои долги!</span>
      </p>
      <div class="b-eb__sketch"><img src="/Content/images/MycryptIndex/logo.png" alt="Alternate Text" /></div>
    </div>

    <div class="b-tb__content">
      <div class="b-tb__header">
        <h1 class="b-tb__header__text">Термины и сокращения:</h1>
      </div>

      <div class="b-tb__listWrapper">
        <dl class="b-tb__listWrapper__content">
          <dt>
          <span>
            Биржа МС (Крипто-Биржа, Система)  – система учета взаимных долговых обязательств физических лиц (пользователей сайта), 
            торговая площадка, предоставляющая посреднические услуги для торговля долговыми обязательствами между участниками биржи МС.
          </span>
          </dt>
          <dt>
            <span>
            My-Crypto (МС) - универсальная торговая единица, введенная на бирже в качестве расчетно-спекулятивной. 
            Используется для расчета между участниками в рамках Сайта.
            </span>
          </dt>
          <dt>
            <span>
            У.Е. – условная единица «потерь» в других проектах.<br />
            Курс обмена УЕ:МС -  Зависит от количества MY-CRYPT в системе. Максимальный – 1:1, Минимальный 10:1
            </span>
          </dt>
          <dt>
            <span>
              Трейдер - пользователь биржи, осуществляющий операции по купле-продаже условных единиц с целью извлечения прибыли.
              Все пользователи Биржи МС являются трейдерами.
            </span>
          </dt>
          <dt>
          <span>
            Держатель (Продавец)- владелец условных торговых единиц, подтвердивший их наличие по установленной процедуре. 
            Держатель может быть покупателем и наоборот.
          </span>
          </dt>
          <dt>
          <span>
            Покупатель - участник, не имеющий собственных универсальных торговых единиц и покупающий их у держателя с целью 
            последующего извлечения прибыли по установленной на момент совершения сделки доходности. 
            Покупатель может одновременно выступать в качестве продавца и приобретать МС у себя.
          </span>
          </dt>
          <dt>
            <span>
              Автовыкуп -  специально предусмотренная процедура купли - продажи в рамках одной учетной записи, где Продавец и Покупатель - одно лицо. 
              Существенно ускоряет торговый процесс.
            </span>
          </dt>
          <dt>
            <span>
              Комиссионный платеж — платеж на счет Системы в размере 5% от суммы сделки, за услугу предоставления торговой площадки, подбора оппонента для совершения сделки. 
              Перечисляется только покупателем, по его выбору - на кошелек NixMoney, Perfectmoney или Payeer. 
            </span>
          </dt>
          <dt>
            <span>
              Платеж на обеспечение доходности - перевод по реквизитам другого участника, чья торговая сессия уже завершена. 
              Может быть, как единичным, так и разделенным на части.
            </span>
          </dt>
          <dt>
            <span>
              Платежное поручение - уведомление-предписание на выполнение электронных платежей по указанным реквизитам. Носит обязательный характер.
            </span>
          </dt>
          <dt>
            <span>
              Сделка купли-продажи - операция по приобретению МС, проводимая между продавцом и покупателем на взаимовыгодных условиях.
            </span>
          </dt>
          <dt>
            <span>
              Котировка - отношение рубля к MY-CRYPT. Пример: 1:3 - за один рубль покупатель получит 3 MY-CRYPT; 
              1:10 – за один рубль покупатель получит 10 MY-CRYPT. 
            </span>
          </dt>
          <dt>
            <span>
              Ставка доходности (Процентная ставка) - размер дохода по совершаемой сделке. 
              Выражается в процентах от количества купленных МС.
            </span>
          </dt>
          <dt>
            <span>
              Длительность Торговой Сессии – время ожидания закрытия сделки.
              Торговая сессия (ТС) - временной интервал, по истечении которого участник биржи получает ожидаемую доходность.
            </span>
          </dt>
          <dt>
            <span>
              Максимальная Сумма Сделки (руб)– количество MY-CRYPT на одну торговую сессию.
            </span>
          </dt>
          <dt>
            <span>
              Баланс Системы (МС) – баланс Биржи, на момент старта равный 1 000 000 000 МС (первая эмиссия МС в систему.) 
              С этого баланса начисляются MY-CRYPT участникам согласно предоставленным скриншотам по курсу биржи на момент подачи заявки. 
              Количество MY-CRYPT в системе ограничено суммой в 1 000 000 000 MY-CRYPT
            </span>
          </dt>
          <dt>
            <span>
              Баланс закрытых сделок Системы – баланс на который возвращаются MY-CRYPT, после закрытия сделки. 
              Следующая эмиссия происходит с данного баланса и увеличивает стоимость МС по отношению к рублю.
              Стоимость рассчитывается по определенной формуле. 
            </span>
          </dt>
          <dt>
            <span>
              Участник биржи МС – зарегистрированный пользователь в системе МС. 
              Термины «посетитель», «пользователь» и «участник» взаимозаменяемы и 
              тождественны в рамках данного сайта.
            </span>
          </dt>
          <dt>
            <span>
              Администратор — управляющий системы, обладает полными правами на 
              просмотр и управление данными участников. 
            </span>
          </dt>
          <dt>
            <span>
              Модератор — заместитель Администратора, назначается Администратором. 
              Обладает частичными правами на просмотр и управление данными участников. 
            </span>
          </dt>
          <dt>
            <span>
              Администратор сайта — специалист, владеющий навыками администрирования 
              системы управления контентом.
            </span>
          </dt>
          <dt>
            <span>
              Реферер — участник, который привлек новых участников (рефералов)
              Реф.Ссылка— уникальное приглашение для участия в проекте, по которому участника идентифицируют как человека, приведшего нового участника.
            </span>
          </dt>
          <dt>
            <span>
              Профиль — информация о пользователе (имя, адрес электронной почты и пр.)
              Аккаунт — учетная запись пользователя, связанная с его профилем.
            </span>
          </dt>
          <dt>
            <span>
              Информационная система — совокупность содержащейся в базах данных 
              информации и обеспечивающих ее обработку информационных технологий и технических средств.
            </span>
          </dt>
          <dt>
            <span>
              Веб-сайт — объединённая под одним адресом (доменным именем или IP-адресом) совокупность документов частного лица или организации, 
              объединенных по смыслу, с повторяющимся дизайном, навигационно и физически находящихся на одном веб-сервере. 
            </span>
          </dt>
          <dt>
            <span>
              Браузер — программа-клиент, предоставляющая пользователю возможности навигации по сайтам, просмотру сайтов и скачивания файлов. 
            </span>
          </dt>
          <dt>
            <span>
              Хостинг — услуга предоставления технической площадки (сервера) для размещения сайта в сети Интернет.
            </span>
          </dt>
          <dt>
            <span>
              Домен — область (ветвь) иерархического пространства доменных имён сети Интернет, которая обозначается уникальным доменным именем.
              Доменное имя — символьное имя домена.
            </span>
          </dt>
          <dt>
            <span>
              Веб-страница — HTML-документ сайта, отображаемый браузером пользователя и имеющий уникальный URL-адрес.
            </span>
          </dt>
          <dt>
            <span>
              Содержимое сайта (контент) — текстовая, графическая или табличная информация, размещенная на сайте, без учета оформления страниц.
              Главная страница — первая страница, которую видит пользователь при входе на сайт (при вводе доменного имени сайта в адресную строку браузера).
              Внутренняя страница сайта — любая другая страница, кроме главной страницы сайта.
            </span>
          </dt>
          <dt>
            <span>
              Лайтбокс— всплывающее окно, при котором остальная часть экрана затемняется.
            </span>
          </dt>
          <dt>
            <span>
              CAPTCHA (Капча) — технология защиты от автоматического заполнения и 
              отправки форм на сайте с помощью изображения, содержащего набор цифр, 
              которые требуется ввести в специальное поле для успешной отправки сообщения.
            </span>
          </dt>
        </dl>
      </div>
    </div>
  </div>
</section>
