@using Ext.Net
@using Ext.Net.MVC

@model MLMExchange.Areas.AdminPanel.Models.TradingSessionModel

@{
  var X = Html.X();
}

<section class="b-ts b-ab @(Model.State == Logic.TradingSessionStatus.NeedEnsureProfibility ? "b-ab b-ab_customise_full-custom pb-bpa_state_accepted" : null)">
  <header class="b-ab__title"><i class="b-ab__icon fa fa-usd"></i> @Logic.Properties.GeneralResources.TradingSession</header>

  <div class="b-ab__content b-ts__content">
    @if (Model.CurrentUserTypes.ToList().Exists(x => x == MLMExchange.Areas.AdminPanel.Models.TradingSessionCurrentUserType.Buyer))
    {
      @Html.Partial("TradingSession/_Browse_ForBuyer", Model)
    }
    
    @if (Model.CurrentUserTypes.ToList().Exists(x => x == MLMExchange.Areas.AdminPanel.Models.TradingSessionCurrentUserType.Seller))
    {
      @Html.Partial("TradingSession/_Browse_ForSeller", Model)
    }
  </div>
</section><!--B: Trading session-->
