@charset "IBM866";
/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/*
* Относится к видео
*/
/* line 3, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Video.scss */
.b-videos {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  position: relative;
}
/* line 21, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper {
  width: 45%;
  float: left;
  margin-right: 10%;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 250px;
  border: 10px solid #e2ecfa;
  -webkit-transition: border 0.55s;
  -moz-transition: border 0.55s;
  -o-transition: border 0.55s;
  transition: border 0.55s;
  z-index: 100;
}
/* line 184, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
.b-videos .b-videos__video-wrapper:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 33, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper:hover {
  border-color: transparent;
}
/* line 35, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper:hover .b-videos__additional-info {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 39, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper .b-videos__video {
  background-color: white;
  width: 100%;
  height: 100%;
}
/* line 46, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper .b-videos__additional-info {
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -65px;
  background-color: #f0f0f0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.55s;
  -moz-transition: opacity 0.55s;
  -o-transition: opacity 0.55s;
  transition: opacity 0.55s;
  z-index: -10;
}
/* line 55, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper .b-videos__additional-info .b-videos__text {
  position: absolute;
  padding: 5px;
  bottom: 15px;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 30px;
  color: #68696b;
  font-size: 16px;
  text-align: center;
}

/* line 5, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/About__Index.scss */
.about-block {
  width: 554px;
  float: left;
  margin-right: 20px;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 10, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/About__Index.scss */
.about-block .about-block__text {
  font-size: 16px;
}

/* line 16, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/About__Index.scss */
.additional-info {
  padding-left: 82px;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 21, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/About__Index.scss */
.additional-info .about-icon {
  display: block;
  background-image: url("/Content/images/AboutIndex/about-icon.png");
  width: 257px;
  height: 87px;
}
/* line 29, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/About__Index.scss */
.additional-info .about-info {
  background: white;
  margin-top: 15px;
  position: relative;
  font-size: 20px;
}
