@charset "IBM866";
/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/* line 4, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.registration-block {
  width: 554px;
  float: left;
  margin-right: 20px;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.registration-block .registration-form {
  width: 472px;
  float: left;
  margin-right: 20px;
  display: inline;
  padding-left: 82px;
}
/* line 19, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.registration-block .registration-form .register-button {
  margin-top: 10px;
  background-color: #41C480;
  width: 226px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  height: 40px;
  font-size: 14px;
  color: white;
}

/* line 31, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.additional-info {
  padding-left: 82px;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 36, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.additional-info .registration-icon {
  display: block;
  background-image: url("/Content/images/AccountRegister/register-icon.png");
  width: 257px;
  height: 83px;
}
/* line 44, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.additional-info .register-info {
  margin-top: 15px;
  position: relative;
  background: white;
  font-size: 20px;
}
