/* line 14, C:/Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, e:/irotaev/Projects/MCExchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.registration-block {
  width: 554px;
  float: left;
  margin-right: 20px;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 9, e:/irotaev/Projects/MCExchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.registration-block .text {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 46px;
}
/* line 17, e:/irotaev/Projects/MCExchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.registration-block .registration-form {
  width: 472px;
  float: left;
  margin-right: 20px;
  display: inline;
  padding-left: 82px;
}
/* line 22, e:/irotaev/Projects/MCExchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.registration-block .registration-form .register-button {
  margin-top: 10px;
  background-color: #41C480;
  width: 226px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  height: 40px;
  font-size: 14px;
  color: white;
}

/* line 34, e:/irotaev/Projects/MCExchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.additional-info {
  padding-left: 82px;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 39, e:/irotaev/Projects/MCExchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.additional-info .registration-icon {
  display: block;
  background-image: url("Content/imagesAccountRegister/register-icon.png");
  width: 257px;
  height: 83px;
}
/* line 47, e:/irotaev/Projects/MCExchange/MLMExchange/MLMExchange/Content/sass/pages/Account__Register.scss */
.additional-info .register-info {
  margin-top: 15px;
  font-size: 20px;
}
