@charset "UTF-8";
/* line 14, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/*
* Начать обёртку для листа иконок dt
* @param $class Задать Класс обёртки
* @param $font-family Задать шрифт, по дефолту: FontAwesome
* @param $color Цвет иконки
*/
/*
* Вставить иконку в лист иконок dt
* @param $class Задать Класс обёртки
* @param $number Уникальный номер dt
* @param $content Контент, юникод иконки
* @param $color Кастомный цвет для иконки, по дефолту - цвета нет
*/
/*
* Хелпер перечисления
* @param $numbered-element селектор элемента, к которому будет привязан счётчик
* @param $sep Символ или буква, стоящая после цифры коунтера
* @param $counter Элемент, куда будем вставлять счётчик
*/
/* line 14, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/*
* Начать обёртку для листа иконок dt
* @param $class Задать Класс обёртки
* @param $font-family Задать шрифт, по дефолту: FontAwesome
* @param $color Цвет иконки
*/
/*
* Вставить иконку в лист иконок dt
* @param $class Задать Класс обёртки
* @param $number Уникальный номер dt
* @param $content Контент, юникод иконки
* @param $color Кастомный цвет для иконки, по дефолту - цвета нет
*/
/*
* Хелпер перечисления
* @param $numbered-element селектор элемента, к которому будет привязан счётчик
* @param $sep Символ или буква, стоящая после цифры коунтера
* @param $counter Элемент, куда будем вставлять счётчик
*/
/* line 3, ../../sass/lib/_RandomWords.scss */
.b-rw {
  text-align: right !important;
}
/* line 9, ../../sass/lib/_RandomWords_lib.scss */
.b-rw .b-rw__icon {
  float: left;
  padding: .2em .25em .15em;
  border: dashed 0.06em rgba(207, 207, 207, 0.5);
  margin-right: 5px;
  border-radius: .2em;
}
/* line 98, ../../sass/_framework.scss */
.b-rw .b-rw__icon:before {
  font-family: FontAwesome;
  content: "\f10d";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  color: #7b87af;
}
/* line 19, ../../sass/lib/_RandomWords_lib.scss */
.b-rw .b-rw__author {
  font-size: 14px;
}

/* line 5, ../../sass/pages/Account__Register.scss */
.registration-block {
  width: 554px;
  float: left;
  margin-right: 20px;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, ../../sass/pages/Account__Register.scss */
.registration-block .registration-form {
  width: 472px;
  float: left;
  margin-right: 20px;
  display: inline;
  padding-left: 82px;
}
/* line 20, ../../sass/pages/Account__Register.scss */
.registration-block .registration-form .register-button {
  margin-top: 10px;
  background-color: #41C480;
  width: 226px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  height: 40px;
  font-size: 14px;
  color: white;
}

/* line 32, ../../sass/pages/Account__Register.scss */
.additional-info {
  padding-left: 82px;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 37, ../../sass/pages/Account__Register.scss */
.additional-info .registration-icon {
  display: block;
  background-image: url("/Content/images/AccountRegister/register-icon.png");
  width: 257px;
  height: 83px;
}
/* line 45, ../../sass/pages/Account__Register.scss */
.additional-info .register-info {
  margin-top: 15px;
  position: relative;
  background: white;
  font-size: 20px;
}
