@charset "UTF-8";
/* line 14, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/*
* Начать обёртку для листа иконок dt
* @param $class Задать Класс обёртки
* @param $font-family Задать шрифт, по дефолту: FontAwesome
* @param $color Цвет иконки
*/
/*
* Вставить иконку в лист иконок dt
* @param $class Задать Класс обёртки
* @param $number Уникальный номер dt
* @param $content Контент, юникод иконки
* @param $color Кастомный цвет для иконки, по дефолту - цвета нет
*/
/*
* Хелпер перечисления
* @param $numbered-element селектор элемента, к которому будет привязан счётчик
* @param $sep Символ или буква, стоящая после цифры коунтера
* @param $counter Элемент, куда будем вставлять счётчик
*/
/* line 14, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/*
* Начать обёртку для листа иконок dt
* @param $class Задать Класс обёртки
* @param $font-family Задать шрифт, по дефолту: FontAwesome
* @param $color Цвет иконки
*/
/*
* Вставить иконку в лист иконок dt
* @param $class Задать Класс обёртки
* @param $number Уникальный номер dt
* @param $content Контент, юникод иконки
* @param $color Кастомный цвет для иконки, по дефолту - цвета нет
*/
/*
* Хелпер перечисления
* @param $numbered-element селектор элемента, к которому будет привязан счётчик
* @param $sep Символ или буква, стоящая после цифры коунтера
* @param $counter Элемент, куда будем вставлять счётчик
*/
/* line 50, Form/s_*.png */
.Form-sprite, .Form-s_password-fiel-lock_black, .Form-s_password-fiel-lock_blue {
  background: url('../../images/Form-s21f3809381.png') no-repeat;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Form-s_password-fiel-lock_black {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Form-s_password-fiel-lock_blue {
  background-position: 0 -34px;
}

/* line 241, ../../sass/lib/_Form_lib.scss */
.b-f input[type='text'], .b-f input[type='password'], .b-f textarea {
  font-family: 'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;
}
/* line 246, ../../sass/lib/_Form_lib.scss */
.b-f textarea {
  resize: vertical;
  max-width: 100%;
}

/* line 6, ../../sass/pages/Contacts__Index.scss */
.pb-cf {
  position: relative;
  top: -110px;
}

/* line 13, ../../sass/pages/Contacts__Index.scss */
.pb-cf__form-fields-wrapper .pb-cf__field {
  margin-bottom: 30px;
}
/* line 15, ../../sass/pages/Contacts__Index.scss */
.pb-cf__form-fields-wrapper .pb-cf__field_name_name, .pb-cf__form-fields-wrapper .pb-cf__field_name_title, .pb-cf__form-fields-wrapper .pb-cf__field_name_email {
  width: 520px;
}
/* line 17, ../../sass/pages/Contacts__Index.scss */
.pb-cf__form-fields-wrapper .pb-cf__field_name_text {
  width: 100%;
}
/* line 18, ../../sass/pages/Contacts__Index.scss */
.pb-cf__form-fields-wrapper .pb-cf__field_name_text .b-ib__input {
  height: 130px;
}

/* line 26, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper {
  width: 275.2px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 30, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item {
  position: relative;
  margin-bottom: 10px;
}
/* line 35, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item .pb-cf__icon {
  display: block;
  position: absolute;
  width: 46px;
  height: 31px;
  top: 0;
  left: 0;
}
/* line 98, ../../sass/_Framework.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item .pb-cf__icon.pb-cf__icon__email:before {
  font-family: Dripicons;
  content: "\e048";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  color: #dadadb;
}
/* line 98, ../../sass/_Framework.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item .pb-cf__icon.pb-cf__icon__phone:before {
  font-family: Dripicons;
  content: "\e066";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  color: #dadadb;
}
/* line 98, ../../sass/_Framework.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item .pb-cf__icon.pb-cf__icon__skype:before {
  font-family: FontAwesome;
  content: "\f17e";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  color: #dadadb;
}
/* line 58, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item .pb-cf__text {
  display: block;
  margin-left: 40px;
  padding-left: 10px;
  height: 31px;
  line-height: 25px;
  color: #dadadb;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  cursor: default;
}
/* line 69, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item .pb-cf__text.pb-cf__text__clickable {
  cursor: pointer !important;
}
/* line 74, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-wrapper .pb-cf__item .pb-cf__text:hover {
  color: #45a2d0;
}
/* line 83, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .pb-cf__additional-info-vk {
  width: 275.2px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 88, ../../sass/pages/Contacts__Index.scss */
.pb-cf__footer-wrapper .b-button.register-button {
  width: 275.2px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  background-color: #41C480;
  height: 40px;
  font-size: 14px;
  color: white;
}
/* line 30, ../../sass/lib/_Form_lib.scss */
.pb-cf__footer-wrapper .b-button.register-button .text {
  font-size: 14px;
  line-height: 40px;
}
