@charset "IBM866";
/* line 14, C:/Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, C:/Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
* Относится к видео
*/
/* line 3, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/lib/_Video.scss */
.b-videos {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  position: relative;
}
/* line 21, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper {
  width: 45%;
  float: left;
  margin-right: 10%;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 250px;
  border: 10px solid #e2ecfa;
  -webkit-transition: border 0.55s;
  -moz-transition: border 0.55s;
  -o-transition: border 0.55s;
  transition: border 0.55s;
  z-index: 100;
}
/* line 184, C:/Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
.b-videos .b-videos__video-wrapper:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 33, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper:hover {
  border-color: transparent;
}
/* line 35, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper:hover .b-videos__additional-info {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 39, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper .b-videos__video {
  background-color: white;
  width: 100%;
  height: 100%;
}
/* line 46, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper .b-videos__additional-info {
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -65px;
  background-color: #f0f0f0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.55s;
  -moz-transition: opacity 0.55s;
  -o-transition: opacity 0.55s;
  transition: opacity 0.55s;
  z-index: -10;
}
/* line 55, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/lib/_Video_lib.scss */
.b-videos .b-videos__video-wrapper .b-videos__additional-info .b-videos__text {
  position: absolute;
  padding: 5px;
  bottom: 15px;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 30px;
  color: #68696b;
  font-size: 16px;
  text-align: center;
}

/* line 5, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  margin-bottom: 70px;
  padding-right: 1px;
}
/* line 11, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__rows {
  position: absolute;
  z-index: 1;
  display: table;
  width: 965px;
  margin: auto;
}
/* line 20, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__row {
  margin: 0;
}
/* line 25, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_max .slider-block__cell_min {
  display: table-cell !important;
  display: inline;
}
/* line 31, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_max {
  float: left;
  width: 28.5714286%;
  height: 100px;
  background-color: #eee;
  border: 4px solid #4B73A5;
}
/* line 39, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_max h2 {
  text-align: center;
  vertical-align: middle;
  margin: 35px;
}
/* line 47, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_min {
  float: left;
  width: 14.2857143%;
  height: 100px;
  border: 4px solid #4B73A5;
}

/* line 56, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block {
  width: 554px;
  float: left;
  margin-right: 20px;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 61, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__text {
  font-size: 16px;
}
/* line 66, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news__text {
  margin: 10px;
  margin-top: 15px;
  text-align: left;
}
/* line 73, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news {
  position: relative;
  border: 1px solid #a7a9ac;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 81, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news__date {
  position: absolute;
  right: 10px;
  top: -16px;
  height: 30px;
  width: 100px;
  padding: 5px;
  overflow: hidden;
  background: #c8e5f6;
  border: 1px solid #a7a9ac;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
/* line 95, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news__date span {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}

/* line 103, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.additional-info {
  padding-left: 82px;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 108, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.additional-info .home-icon {
  display: block;
  background-image: url("/Content/images/AboutIndex/about-icon.png");
  width: 257px;
  height: 87px;
}
/* line 116, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.additional-info .home-info {
  background: white;
  margin-top: 15px;
  position: relative;
  font-size: 16px;
}

/* line 125, e:/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.tab-block {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
