/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  margin-bottom: 20px;
  padding-right: 1px;
}
/* line 10, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__rows {
  position: absolute;
  z-index: 1;
  display: table;
  width: 964px;
  margin: auto;
}
/* line 19, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__row {
  margin: 0;
}
/* line 24, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_max .slider-block__cell_min {
  display: table-cell !important;
  display: inline;
}
/* line 30, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_max {
  float: left;
  width: 28.5714286%;
  height: 100px;
  background-color: #eee;
  border: 3px solid #a7a9ac;
}
/* line 38, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_max h2 {
  text-align: center;
  vertical-align: middle;
  margin: 35px;
}
/* line 46, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.slider-block .slider-block__cell_min {
  float: left;
  width: 14.2857143%;
  height: 100px;
  border: 3px solid #a7a9ac;
}

/* line 55, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block {
  width: 554px;
  float: left;
  margin-right: 20px;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 60, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__text {
  font-size: 16px;
}
/* line 65, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news__text {
  margin: 5px;
}
/* line 70, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news {
  border: 2px dotted #a7a9ac;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 77, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news__date {
  background: #c8e5f6;
  margin-top: -20px;
  float: right;
}
/* line 84, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.home-block .home-block__news__date span {
  padding: 10px;
  font-size: 10px;
}

/* line 91, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.additional-info {
  padding-left: 82px;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 96, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.additional-info .home-icon {
  display: block;
  background-image: url("/Content/images/AboutIndex/about-icon.png");
  width: 257px;
  height: 87px;
}
/* line 104, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.additional-info .home-info {
  background: white;
  margin-top: 15px;
  position: relative;
  font-size: 16px;
  border: 1px solid black;
}

/* line 114, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Home__Index.scss */
.tab-block {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
