@charset "IBM866";
/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/* line 3, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-hr {
  display: block;
  border: none;
  height: 1px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #a7a9ac;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a7a9ac), color-stop(0%, white), color-stop(50%, #a7a9ac), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #a7a9ac 0%, #ffffff 0%, #a7a9ac 50%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7a9ac', endColorstr='white',GradientType=1 );
  /* IE6-8 */
}
/* line 32, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-hr.b-hr_orientation_left {
  background: #68696b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4Njk2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #68696b 0%, #f2f2f2 51%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #68696b), color-stop(51%, #f2f2f2), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #68696b 0%, #f2f2f2 51%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #68696b 0%, #f2f2f2 51%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #68696b 0%, #f2f2f2 51%, white 100%);
  /* IE10+ */
  background: linear-gradient(to right, #68696b 0%, #f2f2f2 51%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68696b', endColorstr='#ffffff',GradientType=1 );
  /* IE6-8 */
}
/* line 47, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-hr.b-hr_orientation_right {
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ODY5NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, white 0%, #f2f2f2 49%, #68696b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(49%, #f2f2f2), color-stop(100%, #68696b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, white 0%, #f2f2f2 49%, #68696b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, white 0%, #f2f2f2 49%, #68696b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, white 0%, #f2f2f2 49%, #68696b 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, #f2f2f2 49%, #68696b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#68696b',GradientType=1 );
  /* IE6-8 */
}

/* line 65, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 5, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-ai {
  display: block;
  border: 1px solid #32BFB2;
}
/* line 201, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-ai .b-ai_text {
  margin: 20px;
  overflow: hidden;
  font-size: 30px;
  color: #a7a9ac;
  text-align: center;
}

/* line 6, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-button {
  border: none;
  display: block;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 221, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_hover-animate_border-bottom:hover {
  border-bottom: 3px solid #ed1c24;
  -webkit-transition: border-bottom 0.2s linear;
  -moz-transition: border-bottom 0.2s linear;
  -o-transition: border-bottom 0.2s linear;
  transition: border-bottom 0.2s linear;
}
/* line 230, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_hover-animate_opacity:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
/* line 239, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button:not(.b-button_action_no-active):active {
  background-color: #b4cef5;
}
/* line 246, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_light-blue {
  background-color: #45a2d0;
}
/* line 251, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_normal-blue {
  background-color: #0076c0;
}
/* line 256, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_admin-blue {
  background-color: #007a9f;
}
/* line 261, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_light-grey {
  background-color: #f0f0f0;
}
/* line 266, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_green-sea {
  background-color: #16a085;
}
/* line 273, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_size-admin-default {
  font-size: 18px;
  height: 40px;
  width: 200px;
}

/* line 7, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.x-btn-default-small, .x-btn-default-medium, .x-btn-default-big {
  background-image: none;
  background-color: #16a085;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 288, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.x-btn-default-small .x-btn-inner, .x-btn-default-medium .x-btn-inner, .x-btn-default-big .x-btn-inner {
  color: white !important;
}

/* line 8, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-scc {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 9, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-image {
  border: 3px dashed #7b87af;
  padding: 5px;
}

/* line 5, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.youtube-block {
  width: 300px;
  height: 200px;
  border: 6px solid #f15a29;
  background-color: #231F20;
  float: right;
  margin: 0 0 1em 1em;
}
/* line 14, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.youtube-block h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-top: 75px;
}

/* line 24, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.mycrypt-exchange {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 30, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-sb__content {
  position: relative;
}
/* line 65, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb__content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 36, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content {
  width: 882px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 40, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__header {
  border-bottom: 1px dashed;
  padding: 10px;
}
/* line 45, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__header .b-tb__header__text {
  font-size: 20px;
}
/* line 53, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content dt {
  padding-left: 70px !important;
  position: relative;
  padding: 0px 0 10px 0;
  margin-bottom: 5px;
  height: 75px;
  margin-top: 10px;
}
/* line 63, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content dt:before {
  position: absolute;
  left: 10px;
  top: 0;
  font-family: FontAwesome;
  font-size: 50px;
  padding-top: 15px;
  content: "";
  color: #7b87af;
}
/* line 75, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(1):before {
  content: "\f07a";
}
/* line 79, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(2):before {
  content: "\f136";
}
/* line 83, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(3):before {
  content: "\f0cc";
}
/* line 87, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(4):before {
  content: "\f007";
}
/* line 91, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(5):before {
  content: "\f007";
}
/* line 95, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(6):before {
  content: "\f007";
}
/* line 99, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(7):before {
  content: "\f021";
}
/* line 103, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(8):before {
  content: "\f0d6";
}
/* line 107, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(9):before {
  content: "\f0d6";
}
/* line 111, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(10):before {
  content: "\f15b";
}
/* line 115, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(11):before {
  content: "\f0f2";
}
/* line 119, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(12):before {
  content: "\f158";
}
/* line 123, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(13):before {
  content: "\f080";
}
/* line 127, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(14):before {
  content: "\f017";
}
/* line 131, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(15):before {
  content: "\f080";
}
/* line 135, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(16):before {
  content: "\f045";
}
/* line 139, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(17):before {
  content: "\f090";
}
/* line 143, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(18):before {
  content: "\f0c0";
}
/* line 147, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(19):before {
  content: "\f0f0";
}
/* line 151, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(20):before {
  content: "\f0f0";
}
/* line 155, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(21):before {
  content: "\f0f0";
}
/* line 159, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(22):before {
  content: "\f0c0";
}
/* line 163, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(23):before {
  content: "\f036";
}
/* line 167, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(24):before {
  content: "\f038";
}
/* line 171, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(25):before {
  content: "\f0e8";
}
/* line 175, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(26):before {
  content: "\f03c";
}
/* line 179, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(27):before {
  content: "\f022";
}
/* line 183, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(28):before {
  content: "\f00b";
}
/* line 187, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(29):before {
  content: "\f17a";
}
/* line 191, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(30):before {
  content: "\f0f6";
}
/* line 195, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(31):before {
  content: "\f187";
}
/* line 199, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.b-tb__content .b-tb__listWrapper .b-tb__listWrapper__content > dt:nth-child(32):before {
  content: "\f029";
}

/* line 211, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch {
  position: relative;
  top: -70px;
  left: 90px;
  float: left;
  height: 258px;
  width: 745px;
  height: 258px;
  margin-bottom: 90px;
}
/* line 223, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch.pb-scetch_orientation_right .pb-scetch__scetch-box {
  left: auto;
  right: 0;
}
/* line 228, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch.pb-scetch_orientation_right .pb-scetch__additional-info {
  right: auto;
  left: 0;
}
/* line 234, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch .pb-scetch__scetch-box {
  width: 208px;
  height: 258px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 241, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch .pb-scetch__scetch-box .pb-scetch__image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 208px;
  height: 195px;
  background-color: #32bfb2;
}
/* line 249, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch .pb-scetch__scetch-box .pb-scetch__image-box .pb-scetch__icon {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 257, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch .pb-scetch__scetch-box .pb-scetch__text-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 208px;
  height: 63px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #32bfb2;
  overflow: hidden;
  padding: 10px;
}
/* line 268, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch .pb-scetch__scetch-box .pb-scetch__text-block .pb-scetch__text {
  display: block;
  text-align: center;
  font-size: 13px;
  font-family: cursive;
  height: 43px;
  line-height: 43px;
}
/* line 279, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch .pb-scetch__additional-info {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 412px;
}
/* line 285, E:/Projects/Exchange/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.pb-scetch .pb-scetch__additional-info .pb-scetch__text-block {
  display: block;
  width: 100%;
  height: 68px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
