/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.youtube-block {
  width: 300px;
  height: 200px;
  border: 6px solid #f15a29;
  background-color: #231F20;
  float: right;
  margin: 0 0 1em 1em;
}
/* line 13, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.youtube-block h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-top: 75px;
}

/* line 23, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/pages/Mycrypt__Index.scss */
.mycrypt-exchange {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
