@{
    ViewBag.Title = @MLMExchange.Properties.ResourcesA.CopyRight;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb copyright-block">
    <header class="b-sb__title">
        <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.CopyRight</h1>
    </header>

    <div class="b-sb__content copyright-block__text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
            Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum
        </p>
    </div>
</section>

<section class="additional-info">
    <i class="copyright-icon"></i>

    <aside class="b-ai copyright-info balloon right">
        <div class="text b-ai_text">
          Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
          Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit 
        </div>
    </aside>
</section>
