@{
    ViewBag.Title = @MLMExchange.Properties.ResourcesA.CopyRight;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb copyright-block">
    <header class="b-sb__title">
        <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.CopyRight</h1>
    </header>

    <div class="b-sb__content copyright-block__text">
      <p class="copyright-block__header copyright-block__header-first"><span>Пользовательское соглашение</span></p>
      <p>Прежде чем воспользоваться возможностями, предоставляемыми данным интернет-сайтом (далее «Сайт»), пожалуйста, внимательно ознакомьтесь с изложенными здесь условиями его использования (далее "Условия"). Открывая и пользуясь Сайтом, Вы подтверждаете, что пребываете в здравом уме и твердой памяти, действуете от своего имени, без принуждения, и подтверждаете свое согласие соблюдать нижеследующие Условия. Если Вы не согласны с этими Условиями, не используйте указанный Сайт, не копируйте с него и не доводите до всеобщего сведения любые материалы.</p>
      <p class="copyright-block__header"><span>1. Персональные данные</span></p>
      <p>Все персональные данные пользователей (ФИО, адреса электронной почты, телефонные номера, skype-логины, банковские платежные реквизиты, реквизиты ЭПС), используются только для идентификации пользователей, входа в учетную запись и взаимодействия пользователей между собой, и не могут быть использованы с целями причинения какого-либо вреда (имущественного, морального) пользователям. Соглашаясь с данными Условиями, пользователь дает согласие на обработку его персональных данных соответствии с Федеральным законом «О персональных данных» от 27 июля 2006 г. № 152-ФЗ с дальнейшими изменениями и дополнениями.</p>
      <p class="copyright-block__header"><span>2. Учетные записи, пароли, защита информации</span></p>
      <p>В случае создания учетной записи и пароля для доступа к материалам Вы несете полную ответственность за обеспечение конфиденциальности своего пароля и учетной записи. Вы соглашаетесь немедленно письменно информировать администрацию в случае любого несанкционированного использования Вашей учетной записи или о любых возникших с ней проблемах безопасности. Администрация не будет нести ответственности за любые убытки, возникшие в результате использования кем-либо Вашей учетной записи без или с Вашего ведома.</p>
      <p class="copyright-block__header"><span>3. Возможные риски и ответственность</span></p>
      <p>Администрация данного Сайта предоставляет пользователям возможность взаимодействовать друг с другом посредством указанных выше данных с целью прямого (от одного пользователя другому, минуя транзитные счета) обмена денежными средствами по определенному уникальному алгоритму.</p>
      <p>Участие в этом процессе несет потенциально высокий уровень риска и подходит не для каждого пользователя. Использование метода краткосрочной торговли позволяет в сжатые сроки получить как максимально возможное увеличение задействованных пользователем средств, так и значительные убытки. Поэтому используйте только те средства, которые Вы можете позволить себе потерять без катастрофических последствий для Вас и/или Вашей семьи.</p> 
      <p>Администрация не несет ответственности за потерянные денежные средства участников торгового процесса при определенных обстоятельствах: нестабильная работа торгового алгоритма, целенаправленное вмешательство третьих лиц с целью нанести ущерб сайту, а так же при форс-мажорных обстоятельствах, не связанных регламентированной деятельностью, таких как катастрофы техногенного и природного характера, введение военного положения в стране и/или мире, остановка сайта по распоряжению государственных органов, контролирующих финансовые институты.</p>
      <p>Вы можете в любой момент потерять все задействованные денежные средства. Регистрируясь в проекте, Вы в полной мере осознаете риски возможных потерь денежных средств. Администрация не инвестирует денежные средства в реальный сектор экономики, не занимается хозяйственной деятельностью. Увеличение денежных средств достигается за счет оборота денежных средств участников по определенному алгоритму.</p>
      <p class="copyright-block__header"><span>4.Описание основного принципа работы системы MY-CRYPT.</span></p>
      <p>Система строится по принципу Фьючерсной биржи. Торговля ведётся фьючерсными контрактами — контрактами на поставку ценных бумаг (долговых обязательств) в прошлом, то есть по сути Ваши бумаги уже доходны. В качестве контрактов используется универсальная единица торговли (MY-CRYPT).</p>
      <p>MY-CRYPT — Универсальная торговая единица (контракт). Единица заносится в кабинет пользователя посредством предоставления им на проверку подтверждающих документов — скриншотов ЛК МММ или других проектов c последующим утверждением их Администратором или Модератором. Общий суммарный объем МС, эмитированных на момент запуска, - 1 000 000 000 МС.</p>
      <p>Система развивается посредством привлечения новых участников, давая им возможность реализовать долговые обязательства, приобретенные в других проектах, посредством краткосрочной торговли на площадке Крипто-Биржи</p>
      <p>Регистрация в сети возможна для всех участников как по ссылке Реферера, так и без нее. Участник, пришедший по такой ссылке, закрепляется за пригласившим его участником. Участник, пришедший без ссылки Реферера, записывается за аккаунтом Системы.  Смена Реферера пользователем запрещена.</p>
      <p>Один участник может заявить не более 500 000 у.е., подтверждая их наличие скриншотом ЛК МММ или скриншотом ЛК любого другого проекта. Скриншот проверяется модератором. В дальнейшем – автоматический режим проверки. Сумма MY-CRYPT, заявленная участником, либо отклоняется, либо подтверждается, а затем вносится в кабинет Участника и становится доступной для участия в торгах посредством открытия торговой сессии.</p>
      <p>Общее количество торговых сессий продавца зависит от количества его рефералов. После регистрации доступно открытие одной торговой сессии единовременно. За каждых трех приглашенных рефералов открывается одна дополнительная торговая сессия. У рефералов должны быть подтвержденные МС. Если у него нет долговых обязательств, должна быть завершена сделка - покупка МС. Т.е. Участнику должен быть присвоен статус «Активный». Параллельно осуществляемые сделки покупки должны проводиться с разными Продавцами (открытие нескольких торговых сессий с участием одного и того же продавца недопустимо).</p>
      <p class="copyright-block__header"><span>4.1 Возможности участника в Системе:</span></p>
      <p>Перевод средств между участниками, просмотр информации, написание отзывов, ведение блога, просмотр видео, ведение переписки с другими участниками, доступ к информации о других пользователях системы, предоставленной ими к просмотру.</p>
      <p>На сайте действует система поощрений и штрафов для участников.</p>
      <p class="copyright-block__header copyright-block__subtitle"><span>4.1.1 Поощрения участников.</span></p>
      <ul class="copyright-block__list">
        <li>
          По количеству приглашённых рефералов - каждые три активных (имеющих открытую торговую сессию) реферала дают возможность открытия дополнительной торговой сессии.
          Статус своих рефералов участник видит на вкладке ЛК Рефералы.
        </li>
        <li>1% от суммы прибыли с каждой сделки непосредственного реферала</li>
      </ul>
      <p class="copyright-block__header copyright-block__subtitle-list copyright-block__subtitle"><span>Вводятся периодически в виде специальных акций</span></p>
      <ul class="copyright-block__list">
        <li>Запись видео — 750 рублей вручную на кошелек участника, участник должен прикрепить ссылку на видео в ЛК</li>
        <li>полноценный отзыв в группу (с указанием даты регистрации, суммы сделки, суммы прибыли и подробным описанием эмоций по данному поводу) — 300 рублей.</li>
      </ul>
      <p class="copyright-block__header copyright-block__subtitle"><span>4.1.2 Штрафные санкции.</span></p>
      <p><span>В случае неисполнения платежных поручений по ТС в течение 12 часов с момента их получения.</span></p>
      <ul class="copyright-block__list">
        <li>Первое нарушение - отмена покупки без возврата средств, потраченных на приобретение МС. Удержание комиссионного сбора 5%.</li>
        <li>Второе нарушение - отмена покупки без возврата средств, потраченных на приобретение МС. Удержание комиссионного сбора 5%. Блокировка аккаунта на 24 часа</li>
        <li>Третье нарушение - Удаление учетной записи</li>
      </ul>
      <p><span>За не подтверждение получения средств от других пользователей в течение 12 часов после нажатия отправителем кнопки «Платеж совершен» (с прикреплением подлинного скриншота совершенной банковской операции).</span></p>
      <ul class="copyright-block__list">
        <li>Первое нарушение - штраф в виде запрета на совершение торговых операций сроком на одни сутки</li>
        <li>При повторном нарушении – запрет на трое суток.</li>
        <li>Третье нарушение - Удаление учетной записи</li>
      </ul> 

      <p><span style="color: red">Штрафные санкции вводятся с целью реализации базового принципа торговли на коротких временных интервалах.</span></p>
      <p><span>5. Описание принципа краткосрочной торговли MY-CRYPT.</span></p>
      <p>Для торговли на бирже используются основные показатели.</p>
      <ul class="copyright-block__list" style="margin-bottom: 10px;">
        <li>Процентная ставка – от 5% до 25%</li>
        <li>Длительность торговой сессии – от 6 часов до 24 часов</li>
        <li>Котировка от 1:5 до 1:15</li>
        <li>Максимальная сумма сделки. (Минимальная сумма 100 руб.)</li>
      </ul>
      <p>Показатели меняются в момент значительного изменения коэффициента данных принимаемых для расчета, по отношению к предыдущим показателям, используемых для предыдущего расчета.  Показатели рассчитываются с учетом всех условий, созданных на момент расчета – количество участников, количество заявок на продажу, количество заявок на покупку, сумма заявок на продажу, сумма заявок на покупку, минимальная сумма заявки, максимальная сумма заявки, минимальное и максимальное время расчета между участниками и др.</p>
      <p class="copyright-block__header copyright-block__subtitle"><span>Для держателя (Продавца)</span></p>
      <p>В течение дня держатель размещает заявку на участие в торгах, указывая сумму MY-CRYPT, которая будет списана с его баланса в случае продажи. По истечении 24 часов с момента подачи заявки сумма, не принявшая участие в торгах, возвращается на баланс держателя. После чего держатель должен повторно совершить данную операцию, если в следующие торговые сутки он желает участвовать в торгах (т. е. для ежедневной торговли держатель заявляет свое участие ежедневно). Держатель может не размещать заявку на продажу. Тогда его МC участвовать в торгах не будут.</p>
      <p>Если у Продавца приобретают МС, он получает СМС (опционно) о поступившем запросе на покупку у него MY-CRYPT, после чего в личном кабинете либо подтверждает свое согласие на продажу, либо отклоняет запрос. Если Продавец отклонил запрос, его заявка на участие в торгах снимается с возможностью разместить новую по истечении 12 часов с момента отказа.</p>
      <p>После согласия Продавец и Покупатель видят контакты друг друга и могут связаться для ускорения совершения сделки. Покупатель делает денежный перевод в сумме согласно котировке на момент открытия им торговой сессии по реквизитам Продавца, после чего нажимает кнопку «Платеж совершен». При поступлении средств Держатель должен нажать в кабинете кнопку «Подтвердить получение», которая становится активной после нажатия кнопки Покупателем (т. е. Отправителем средств).</p>
      <p>Заявка на продажу у продавца аннулируется после получения и одобрения им запроса на покупку МС, а разница между заявленной и проданной суммами возвращается на баланс продавца. То есть, подтвердив свое согласие на продажу МС, продавец может сразу же вновь подать заявку на участие в торгах в случае, если он желает участвовать в торгах дальше и если у него есть возможность открыть более одной торговой сессии.</p>
      <p>После закрытия торговой сессии и получения участником прибыли, вся сумма МС, на которую была совершена сделка, переходит на баланс закрытых сделок Системы.</p>
      <p class="copyright-block__header copyright-block__subtitle"><span>Для покупателя.</span></p>
      <p>Покупатель, оформляя заявку на покупку у продавца, выбирает любого из списка желающих продать МС. Также Покупатель, если у него есть в наличии MY-CRYPT, может приобрести их у себя, при условии, что он разместил заявку на продажу.</p>
      <p>Одновременно Покупатель не может открыть более одной торговой сессии с одним продавцом.</p>
      <p>Желая участвовать в качестве покупателя, участник указывает сумму, на которую он желает совершить сделку, но не более максимально разрешенной на момент торговли Системой (Максимальная Сумма сделки) и/или если иное не предусмотрено программой поощрений участников. Затем выбирает из предложенного списка нужного ему продавца (им может быть сам Покупатель и в этом случае нажимает кнопку «Авто выкуп»). Продавцу приходит СМС о поступившем ему запросе на покупку его MY-CRYPT и в кабинете появляется кнопка «Подтвердить продажу» или «Отклонить». Если заявка отклонена, то Покупатель, повторив процедуру, может выбрать другого продавца.</p>
      <p>Если нажата кнопка «Подтвердить продажу», Покупатель совершает комиссионный платеж в сумме 5% от суммы сделки на счет Системы. После совершения данного платежа ему становятся доступны реквизиты продавца, на которые он переводит указанную в платежном поручении сумму по установленной на момент покупки котировке (пример: Котировка «1:8» означает, что количество приобретаемых МС делим на 8, полученную сумму в рублях отправляем Продавцу), и нажимает кнопку «Платеж совершен».</p>
      <ul class="copyright-block__list">
        <li>Продавец получает сумму в рублях за проданные MY-CRYPT и нажимает кнопку «Платеж получен». После подтверждения Продавцом поступления средств, Покупателю формируются платежные поручения, обязательные к исполнению, на переводы другим пользователям для обеспечения доходности уже закрытых ими торговых сессий. То есть на выплату прибыли (Процентная ставка) по уже отработавшим сделкам.</li>
        <li>Количество открытых сделок для покупателя - не более 1 за торговую сессию (при отсутствии приглашенных)</li>
        <li>Каждая сделка для Покупателя должна совершаться с разными Продавцами (не более одной сделки с одним покупателем единовременно)</li>
        <li>Покупатель может одновременно являться и Продавцом.</li>
        <li>После выполнения всех переводов (если их было несколько) и получения подтверждения от получателей, торговая сессия открывается. Продолжительность ее равняется указанной на момент открытия сделки (Длительность Торговой Сессии) В кабинете отображается время закрытия торговой сессии. По прошествии отведенного времени, кнопка «Закрыть торговую сессию» становится активной. Участник, нажимая на нее, закрывает торговую сессию и на сумму указанной доходности формируются платежные поручения для участников, открывающих в данный момент свою торговую сессию. Платежные поручения отображаются в кабинете Трейдера и видны контакты тех Трейдеров, которые должны исполнить платеж по данным поручениям. ПП имеет две кнопки: «Платеж получен» и «Платеж не получен» (вторая становится активной через 12 часов после подтверждения (нажатия кнопки) переводившей стороны).</li>
        <li>Трейдерам, открывающим торговую сессию, приходят поручения, которые они оплачивают в адрес данного держателя и нажимают в ЛК кнопку «Платеж совершен», после чего у держателя становится активной кнопка «Платеж получен». Держатель при получении платежей в платежном поручении нажимает кнопку «Платеж получен». При получении всех платежей, Торговая сессия считается полностью закрытой и держатель может начинать новую торговую сессию.</li>
        <li>Если Участником нажата кнопка «Платеж не получен», Получатель, данное поручение, а также участник, который должен был совершить платеж, автоматически блокируются до окончания разбирательства Администрацией. Снять блокировку может только Администратор. Администратору или Модератору приходит сообщение на почту и СМС на телефон о сложившийся ситуации.  Участники для разрешения спорного вопроса, готовят скриншоты банковских счетов, участвующих в данной сделке, а также должны быть готовы показать Личный кабинет Банк-Клиента через скайп Администратору или модератору. При отказе от демонстрации, действия участника считаются Администрацией мошенническими, направленными против развития системы и нарушающими основные условия участия на Бирже МС. Данный участник удаляется из системы без права восстановления. Участнику системой подбирается другой трейдер.</li>
      </ul>
      <p class="copyright-block__header"><span>Временные лимиты на совершаемые действия:</span></p>
      <ul class="copyright-block__list">
        <li>Подтверждение получения средств - 12 часов.</li>
        <li>Исполнение поручения на перевод - 12 часов.</li>
        <li>одобрение/отклонение продавцом заявки на покупку от покупателя - 12 часов.</li>
        <li>Если в указанное время участником не было выполнено необходимых действий, заявка или поручение снимается и передается другому участнику. При повторном нарушении участник блокируется. Для разблокировки аккаунта необходимо сделать штрафной (невозвратный) контрольный платеж на счет системы в сумме 50$</li>
        <li>Система распределения заявок работает в автоматическом режиме</li>
        <li>На этапе запуска, возможность работы в полуавтоматическом режиме – подтверждение распределенных заявок Администратором. Согласно выставленному времени в Админ-панели (1-3 часа), система проверяет наличие заявок на ввод и вывод и формирует платежные поручения. Администратор только проверяет и подтверждает заявки.</li>
        <li>В автоматическом режиме Система работает в режиме реального времени. В момент подачи заявки на участие в торгах проверяются закрытые торговые сессии, в момент закрытия торговой сессии проверяются поданные заявки на участие в торгах.</li>
      </ul>
      <p class="copyright-block__header"><span>Критерии подбора участников для переводов.</span></p>
      <ul class="copyright-block__list">
        <li>Очередность открытия – закрытия торговой сессии (временной параметр)</li>
        <li>по наименованию банка (Электронной платежной системы)</li>
        <li>сумма сделки</li>
        <li>Счета Участников могут быть открыты в различных платежных системах (ПМ, Никс-Мани, Киви, Банки). Участник Сам выбирает, на какую платежную систему будет делать перевод из систем указанных оппонентом.</li>
      </ul>
    </div>
</section>
