/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.b-ib .b-ib__label {
  display: block;
  margin-bottom: 10px;
}
/* line 11, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.b-ib.b-ib_content_photo .b-ib_choose-file {
  display: block;
}
/* line 15, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.b-ib.b-ib_content_photo .b-ib__file-preview, .b-ib.b-ib_content_photo .b-ib_file-chooser {
  display: none;
}

/* line 19, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.gradient {
  filter: none;
}
