@charset "IBM866";
/* line 14, C:/Program Files/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/* line 6, e:/irotaev/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.b-ib .b-ib__label {
  display: block;
  margin-bottom: 10px;
}
/* line 11, e:/irotaev/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.b-ib.b-ib_content_photo .b-ib_choose-file {
  display: block;
}
/* line 15, e:/irotaev/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.b-ib.b-ib_content_photo .b-ib__file-preview, .b-ib.b-ib_content_photo .b-ib_file-chooser {
  display: none;
}

/* line 19, e:/irotaev/Projects/MyCryptExchange/MLMExchange/MLMExchange/Content/sass/IE_lt_9.scss */
.gradient {
  filter: none;
}
