@charset "UTF-8";
/* line 14, ../../../../../../../../var/lib/gems/1.9.1/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0");
  src: url("/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0") format("opentype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0") format("woff");
  src: url("/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0");
  src: local("FontAwesome");
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
/*
* Начать обёртку для листа иконок dt
* @param $class Задать Класс обёртки
* @param $font-family Задать шрифт, по дефолту: FontAwesome
* @param $color Цвет иконки
*/
/*
* Вставить иконку в лист иконок dt
* @param $class Задать Класс обёртки
* @param $number Уникальный номер dt
* @param $content Контент, юникод иконки
* @param $color Кастомный цвет для иконки, по дефолту - цвета нет
*/
/*
* Хелпер перечисления
* @param $numbered-element селектор элемента, к которому будет привязан счётчик
* @param $sep Символ или буква, стоящая после цифры коунтера
* @param $counter Элемент, куда будем вставлять счётчик
*/
/* line 6, ../sass/IE_lt_9.scss */
.b-ib .b-ib__label {
  display: block;
  margin-bottom: 10px;
}
/* line 11, ../sass/IE_lt_9.scss */
.b-ib.b-ib_content_photo .b-ib_choose-file {
  display: block;
}
/* line 15, ../sass/IE_lt_9.scss */
.b-ib.b-ib_content_photo .b-ib__file-preview, .b-ib.b-ib_content_photo .b-ib_file-chooser {
  display: none;
}

/* line 19, ../sass/IE_lt_9.scss */
.gradient {
  filter: none;
}
