@charset "IBM866";
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-hr {
  display: block;
  border: none;
  height: 1px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #a7a9ac;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a7a9ac), color-stop(0%, white), color-stop(50%, #a7a9ac), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #a7a9ac 0%, #ffffff 0%, #a7a9ac 50%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='#ffffff',GradientType=1 );
  /* IE6-8 */
}

/* line 34, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 5, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-ai {
  display: block;
  border: 1px solid #32BFB2;
}
/* line 170, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-ai .b-ai_text {
  margin: 20px;
  overflow: hidden;
  font-size: 30px;
  color: #a7a9ac;
  text-align: center;
}

/* line 6, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-button {
  border: none;
  display: block;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 188, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  border-bottom: 3px solid #ed1c24;
  -webkit-transition: border-bottom 0.15s linear;
  -moz-transition: border-bottom 0.15s linear;
  -o-transition: border-bottom 0.15s linear;
  transition: border-bottom 0.15s linear;
}
/* line 199, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button:not(.b-button_action_no-active):active {
  background-color: #b4cef5;
}
/* line 206, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_light-blue {
  background-color: #45a2d0;
}
/* line 211, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_normal-blue {
  background-color: #0076c0;
}
/* line 216, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-button.b-button_color_light-grey {
  background-color: #f0f0f0;
}

/* line 7, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared.scss */
.b-scc {
  width: 964px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 50, Form/s_*.png */
.Form-sprite, .Form-s_password-fiel-lock_black, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon, .Form-s_password-fiel-lock_blue, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon.focused {
  background: url('../images/Form-s21f3809381.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Form-s_password-fiel-lock_black, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon {
  background-position: 0 0;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Form-s_password-fiel-lock_blue, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon.focused {
  background-position: 0 -34px;
}

/* line 4, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form.scss */
.b-ib {
  position: relative;
  margin-top: 10px;
}
/* line 33, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__input {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #a7a9ac;
  height: 35px;
  padding-left: 5px;
  color: #68696b;
  width: 100%;
}
/* line 43, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__input.input-validation-error {
  border-color: #ed1c24;
  -webkit-box-shadow: 0 0 10px #ed1c24;
  -moz-box-shadow: 0 0 10px #ed1c24;
  box-shadow: 0 0 10px #ed1c24;
}
/* line 51, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__input-wrapper {
  position: relative;
}
/* line 55, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__input-wrapper .b-ib__icon {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 100;
}
/* line 65, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon {
  width: 29px;
  height: 34px;
}
/* line 78, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__validation-message {
  box-sizing: border-box;
}
/* line 82, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__validation-message.field-validation-error {
  display: block;
  width: 100%;
  font-size: 10px;
  height: 20px;
  line-height: 16px;
  border: 1px solid #ed1c24;
  margin-bottom: 10px;
  color: #ed1c24;
  background-color: white;
}
/* line 94, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__validation-message.field-validation-valid {
  display: none;
}
/* line 98, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__validation-message--arrow {
  display: none;
}
/* line 100, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .field-validation-error + .b-ib__validation-message--arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 26px;
  z-index: 100;
  padding: 2px;
  background: url("/Content/images/Form/validation-arrow.png") left no-repeat;
  display: block;
}
/* line 111, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib .b-ib__label {
  display: none;
}
/* line 117, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib.b-ib_content_photo {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 121, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib.b-ib_content_photo .b-ib_choose-file {
  display: none;
}
/* line 124, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib.b-ib_content_photo .b-ib__file-preview {
  position: relative;
  display: block;
  width: 60%;
  height: 220px;
  border: 2px dotted #999999;
  margin-right: 5%;
  padding: 2px;
  float: left;
}
/* line 135, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib.b-ib_content_photo .b-ib__file-preview .b-ib__image {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 143, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib.b-ib_content_photo .b-ib_file-chooser {
  background-color: #41C480;
  height: 40px;
  font-size: 14px;
  color: white;
  width: 35%;
  float: left;
}
/* line 20, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.b-ib.b-ib_content_photo .b-ib_file-chooser .text {
  font-size: 14px;
  line-height: 40px;
}

/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
* Перебитие css-правил из metro ui css
***/
/* line 11, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MetroUICss_Override.scss */
.metro h1, .metro h2, .metro h3, .metro h4, .metro h5, .metro h6 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
}
/* line 14, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MetroUICss_Override.scss */
.metro div, .metro p {
  font-size: 20px;
  color: #68696b;
}
/* line 20, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MetroUICss_Override.scss */
.metro .button {
  padding: 0;
  margin: 0;
}
/* line 24, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MetroUICss_Override.scss */
.metro .button:active {
  background-color: #0055d4;
}
/* line 30, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MetroUICss_Override.scss */
.metro hr {
  display: block;
  border: none;
  height: 1px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #a7a9ac;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a7a9ac), color-stop(0%, white), color-stop(50%, #a7a9ac), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a7a9ac 0%, white 0%, #a7a9ac 50%, white 100%);
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #a7a9ac 0%, #ffffff 0%, #a7a9ac 50%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='#ffffff',GradientType=1 );
  /* IE6-8 */
}

/* line 36, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MetroUICss_Override.scss */
.metro .stepper {
  margin-top: 50px;
}

/* line 40, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MetroUICss_Override.scss */
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 12, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/screen.scss */
.b-sb {
  border: 1px solid #a7a9ac;
  -webkit-box-shadow: 8px 8px 10px 0 #68696b;
  -moz-box-shadow: 8px 8px 10px 0 #68696b;
  box-shadow: 8px 8px 10px 0 #68696b;
}
/* line 48, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb .b-sb__title {
  height: 46px;
  background-color: #3077b7;
}
/* line 53, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb .b-sb__title .b-sb__text {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 46px;
}
/* line 62, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb .b-sb__content {
  padding: 20px;
}
/* line 71, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon {
  position: relative;
  z-index: 10;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 77, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section {
  position: relative;
  z-index: -10;
}
/* line 34, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 85, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__header {
  border: 1px solid #a7a9ac;
  border-bottom: none;
  -webkit-box-shadow: 10px 10px 10px #68696b;
  -moz-box-shadow: 10px 10px 10px #68696b;
  box-shadow: 10px 10px 10px #68696b;
  z-index: -100;
  width: 570.4px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 92, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__header .b-sb__header--content {
  height: 50px;
}
/* line 96, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__header .b-sb__header--content h2 {
  font-size: 20px;
  color: gray;
  margin: 2px;
  text-align: center;
}
/* line 106, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__icon {
  width: 275.2px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  height: 87px;
}
/* line 110, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__icon .all-icon {
  display: block;
  width: 257px;
  height: 87px;
}
/* line 115, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__icon .all-icon.mycrypt-icon {
  background-image: url("/Content/images/MycryptIndex/mycrypt-icon.png");
  background-repeat: no-repeat;
}
/* line 121, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__icon .all-icon.contacts-icon {
  background-image: url("/Content/images/ContactsIndex/contacts-icon.png");
  background-repeat: no-repeat;
}
/* line 129, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__top-section .b-sb__border-top {
  position: absolute;
  width: 373.6px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 20px;
  border-top: 1px solid #a7a9ac;
  height: 0;
  bottom: 0;
  right: 0;
}
/* line 142, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__content {
  width: 964px;
  float: left;
  margin-right: 20px;
  display: inline;
  z-index: 10;
  border: 1px solid #a7a9ac;
  border-top: none;
  -webkit-box-shadow: 10px 10px 10px #68696b;
  -moz-box-shadow: 10px 10px 10px #68696b;
  box-shadow: 10px 10px 10px #68696b;
  background-color: white;
}
/* line 151, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__content__left {
  width: 554px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 156, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Shared_lib.scss */
.b-sb.b-sb__type__with-icon .b-sb__content__right {
  text-align: right;
  width: 308px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

/* line 17, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 24, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/screen.scss */
body {
  background-color: #A3C2D1;
}

/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 50, Form/s_*.png */
.Form-sprite, .Form-s_password-fiel-lock_black, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon, .Form-s_password-fiel-lock_blue, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon.focused {
  background: url('../images/Form-s21f3809381.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Form-s_password-fiel-lock_black, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon {
  background-position: 0 0;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Form-s_password-fiel-lock_blue, .b-ib .b-ib__input-wrapper.b-ib__input-wrapper_input-type_password .b-ib__icon.focused {
  background-position: 0 -34px;
}

/* line 6, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header {
  height: 64px;
}
/* line 11, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .text {
  color: white;
  text-align: center;
  line-height: 64px;
  font-size: 24px;
}
/* line 21, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .b-button {
  height: 64px;
}
/* line 26, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .buttons {
  padding-left: 164px;
}
/* line 29, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .buttons .b-button {
  width: 144px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 35, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block {
  position: relative;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  background-color: #2A7CA0;
}
/* line 41, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .b-button {
  background-color: #2A7CA0;
}
/* line 45, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .b-button.enter-button {
  width: 144px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 49, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .b-button.enter-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background-color: #45a2d0;
  cursor: default;
}
/* line 51, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .b-button.enter-button:hover .login-section {
  display: block;
}
/* line 56, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .b-button.register-button {
  width: 226px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 60, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .b-button.register-button:active {
  background-color: #0055d4;
}
/* line 67, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .login-section {
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1000;
  display: none;
  cursor: default;
}
/* line 75, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .login-section .login-area-arrow {
  position: absolute;
  top: -17px;
  left: 30px;
  width: 83px;
  height: 52px;
  background: url("/Content/images/Header/LoginArea/login-area-arrow.png") center no-repeat;
  z-index: 100;
}
/* line 85, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .login-section .login-enter-area {
  position: absolute;
  top: 20px;
  left: 0;
  width: 390px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  background-color: #45a2d0;
  padding: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(91, 91, 91, 0.85);
  -moz-box-shadow: 0 0 10px 0 rgba(91, 91, 91, 0.85);
  box-shadow: 0 0 10px 0 rgba(91, 91, 91, 0.85);
}
/* line 94, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .login-section .login-enter-area .input-group {
  margin-bottom: 15px;
}
/* line 99, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainHeader.scss */
.main-header .main-header-top .main-registration-block .login-section .login-enter-area .register-button {
  background-color: #41C480;
  height: 40px;
  font-size: 14px;
  color: white;
}
/* line 20, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/lib/_Form_lib.scss */
.main-header .main-header-top .main-registration-block .login-section .login-enter-area .register-button .text {
  font-size: 14px;
  line-height: 40px;
}

/* line 5, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainTopMenu.scss */
.main-top-menu {
  height: 70px;
}
/* line 7, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainTopMenu.scss */
.main-top-menu .b-button {
  width: 226px;
  float: left;
  margin-right: 20px;
  display: inline;
  height: 60px;
  background-color: #32BFB2;
}
/* line 9, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainTopMenu.scss */
.main-top-menu .b-button:last-child {
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 16, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainTopMenu.scss */
.main-top-menu .text {
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  color: #68696b;
}

/* line 4, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
}
/* line 11, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__outer-wrapper {
  margin-right: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 13, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper {
  position: relative;
  margin-bottom: 10px;
  width: 255px;
  float: right;
  overflow: hidden;
  *zoom: 1;
}
/* line 21, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper .sosial-button {
  width: 75px;
  height: 75px;
  margin-right: 15px;
  float: left;
}
/* line 26, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper .sosial-button .icon {
  width: 48px;
  height: 48px;
  margin-top: 13.5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 31, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper .sosial-button .icon.twitter {
  background: url("/Content/sass/Footer/twitter.png") center no-repeat;
}
/* line 35, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper .sosial-button .icon.facebook {
  background: url("/Content/sass/Footer/facebook.png") center no-repeat;
}
/* line 39, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper .sosial-button .icon.vkontakte {
  background: url("/Content/sass/Footer/vkontakte.png") center no-repeat;
}
/* line 45, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper .sosial-button:last-child {
  margin-right: 0;
}
/* line 50, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .sosial-buttons__inner-wrapper .sosial-button .sosial-button_location_last {
  margin-right: 0;
}
/* line 57, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons {
  *zoom: 1;
  width: 1004px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.main-footer .buttons:after {
  content: "";
  display: table;
  clear: both;
}
/* line 61, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons .b-button {
  position: relative;
  height: 130px;
  width: 176.8px;
  float: left;
  margin-right: 20px;
  display: inline;
}
/* line 184, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
.main-footer .buttons .b-button:last-child {
  float: right;
  margin-right: 0;
}
/* line 65, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons .b-button.ie8-last-child {
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
/* line 68, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons .b-button .b-icon {
  display: block;
  height: 107px;
  width: 107px;
  margin: 0 auto;
}
/* line 75, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons .b-button .b-icon.home {
  background-image: url(/Content/sass/Footer/button-home.png);
  background-repeat: no-repeat;
}
/* line 81, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons .b-button .b-icon.agreement {
  background-image: url(/Content/sass/Footer/button-agreement.png);
  background-repeat: no-repeat;
}
/* line 87, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons .b-button .b-icon.copyright {
  background-image: url(/Content/sass/Footer/button-copyright.png);
  background-repeat: no-repeat;
}
/* line 94, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/Footer/_MainFooter.scss */
.main-footer .buttons .b-button .b-text {
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  color: #a7a9ac;
  font-size: 13px;
}

/* line 2, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/_MainChangableContent.scss */
.main-changable-content {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 100%;
}

/* line 36, E:/Projects/New/MLMExchange/MLMExchange/Content/sass/screen.scss */
.main-wrapper {
  position: relative;
  *zoom: 1;
  width: 1004px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  min-height: 100%;
  padding-bottom: 320px;
}
/* line 38, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.main-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
