@using Ext.Net
@using Ext.Net.MVC
@using MLMExchange.Areas.AdminPanel.Models.PaymentSystem
@using MLMExchange.Areas.AdminPanel.Views.PaymentSystemGroup
@using MLMExchange.Areas.AdminPanel.Models

@model IEnumerable<MLMExchange.Areas.AdminPanel.Models.IBasePaymentModel>

@if (ViewData["AsPartial"] == null || ViewData["AsPartial"] != "True")
{
  ViewBag.Title = @Logic.Properties.GeneralResources.Payments;
  Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanel__Layout.cshtml";
}
else
{
  @Html.X().ResourceManager().RenderStyles(ResourceLocationType.None).RenderScripts(ResourceLocationType.None)
}

@{
  var X = Html.X();
}


<section class="b-pl">
  @foreach (var paymentModel in Model)
  {
    if (paymentModel is BankPaymentModel)
    {
      <div class="b-pl__payment-info b-pl__payment-info_type_">
        @Html.Partial("~/Areas/AdminPanel/Views/BankPayment/Browse.cshtml", paymentModel, ViewData)
      </div>
    }
    else if (paymentModel is ElectronicPaymentModel)
    {
      <div class="b-pl__payment-info b-pl__payment-info_type_">
        @Html.Partial("~/Areas/AdminPanel/Views/ElectronicPayment/Browse.cshtml", paymentModel, ViewData)
      </div>
    }
  }
</section><!--B: Payment list-->
