@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.CopyRight;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb success-block">
  <header class="b-sb__title">
    <h1 class="b-sb__text">Success!</h1>
  </header>

  <div class="b-sb__content">
    <div class="success-message">
      <dl class="success-message__content">
        <dt>Your message has been send successfully!</dt>
      </dl>
    </div>
  </div>
</section>
