@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.OperationSuccess;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb success-block">
  <header class="b-sb__title">
    <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.OperationSuccess</h1>
  </header>

  <div class="b-sb__content">
    <div class="success-message">
      <dl class="success-message__content">
        <dt>@String.Format("{0}{1}", MLMExchange.Properties.ResourcesA.SuccessSendMessage, "!")</dt>
      </dl>
    </div>
  </div>
</section>
