@import "../framework";
@import "../AdminFramework";

@import "../lib/Admin.Blocks/BindingParticipateApplicationBlock";
@import "../lib/Admin.Blocks/TradingSession/Browse";
@import "../lib/Admin.Blocks/PaymentSystemGroup/PaymentSystemGroup_Browse";
@import "../lib/Admin.Blocks/BankPayment/BankPayment_Browse";
@import "../lib/Admin.Blocks/UserControlBlock/Browse";
@import "../lib/Admin.Blocks/User/Browse";

@import "../lib/Admin.Blocks/ExtJs_Grid_lib";

.b-ts
{
  .b-ts__pay-yield-trading-session
  {
    .b-ts__header-text
    {
      margin: 10px;
    }
  }

  .x-grid {@include custom-extjs-grid(0, none);};
}

.pb-cp
{
  @include admin-content-zone;
}

.pb-bpa
{
  margin: {left: auto; right: auto};
  @include pb-bpa;

  &.pb-bpa_state_accepted
  {
    width: 550px;
  }

  .pb-bpa__content { .x-grid {@include custom-extjs-grid(0);} }

  .pb-bpa__buyer-accepted-wrapper
  {
    margin: 20px;

    .pb-bpa__buyer-short-info
    {
      margin-bottom: 10px;

      .pb-bpa__text
      {
        font-size: $font-n; font-family: "Segoe UI" !important;
        text-decoration: underline;

        &:hover {text-decoration: none;}
      }

      .pb-bpa__buyer {font-size: $font-n !important; font-family: "Segoe UI" !important}
    }

    .pb-bpa__buyer-additional-info
    {
      @include clearfix;

      .pb-bpa__buyer-photo
      {
        float: left;
        margin-right: 20px;
      }

      .pb-bpa__user-info
      {
        float: left;
      }

      .pb-bpa__payment
      {
        float: right;

        .pb-bpa__payment-showPayment
        {
          color: $color_green_sea_c;
          cursor: pointer;
          font-size: 12px;
        }
      }
    }

    .pb-bpa__action-buttons
    {
      margin-top: 20px;
      @include clearfix;

      .pb-bpa__action-button
      {
        display: block;
        float: left;
        margin-left: 15px;

        &:first-child {margin-left: 0;}
      }
    }

    .pb-bpa__waiting-saller-interest-rate-payment
    {
      margin-top: 10px;
      text-align: center;
    }
  }

  .pb-bpa__sell-mc-disabled
  {
    display: block;
    margin-top: 10px;
    font-size: $font-b !important;

    .pb-bpa__icon
    {
      color: $orange2;
    }
  }

  .pb-bpa__buyer-found-wrapper
  {
    .x-grid {border: none;}
  }
}

// Грид сессии в состоянии "ожидает прибыли" и "подтверждение прибыли". Прибыль ТС
#b-ts__session-need-profit_ID
{
  .b-ts__bill-payment-state
  {
    &.b-ts__bill-payment-state_value-type_na {}
    &.b-ts__bill-payment-state_value-type_waitingpayment {color: $color_text__warning_color !important; }
    &.b-ts__bill-payment-state_value-type_paid {color: $color_green_sea_c !important;}
    &.b-ts__bill-payment-state_value-type_enoughmoney {color: $blue_a_4_c !important;}
    &.b-ts__bill-payment-state_value-type_notpaid {color: $orange2 !important;}
  }
}