@import "../framework";
@import "../AdminFramework";

@import "../lib/Admin.Blocks/ExtJs_Grid";
@import "../lib/Admin.Blocks/PaymentSystemGroup/PaymentSystemGroup_Browse";

.pb-bmc
{
  width: 650px;
  margin: 20px auto;

  .pb-bmc__submit-btn-wrappper {@include clearfix; margin-top: 20px;}

  .pb-bmc__submit-btn
  {
    float: right;
  }
}

.b-brp
{
  margin: 10px;

  .b-brp__message
  {
    display: block;
    text-align: center;
    font-size: $font-b;

    .b-brp__icon
    {
      font-size: $font-b;
      color: $orange2;
      margin-right: 5px;
    }
  }
}

#BuyingRequest__History
{
  margin-top: 30px;
}

.x-grid
{
  .pb-br__state_value_denied {color: $red_a_1_c !important;}
  .pb-br__state_value_accepted {color: $color_grean_sea !important;}
  .pb-br__state_value_awaitingconfirm {color: #D8886F !important;}
  .pb-br__state_value_na {color: $grey_1 !important;}

  .pb-br__message
  {
    margin: 10px 0;
    font-size: $font-n;
  }

  .pb-br__image-link
  {
    color: $color_grean_sea !important;
    .pb-br__icon {margin-right: 7px;}

    &:hover {text-decoration: underline;}
  }
}

