@import "../Framework";
@import "../lib/Form_lib";
@import "compass/css3/transition";

.pb-cf
{
  position: relative;
  top: -110px;
}

.pb-cf__form-fields-wrapper
{
  .pb-cf__field {margin-bottom: 20px;}

  .pb-cf__field_name_name, .pb-cf__field_name_title, .pb-cf__field_name_email { width: 520px; }

  .pb-cf__field_name_text {width: 100%;}
  .pb-cf__field_name_text .b-ib__input {height: 130px;}
}

.pb-cf__footer-wrapper
{
  @include  _with-grid-settings(10)
  {
    .pb-cf__additional-info-wrapper
    {
      @include span-columns(3, 10);

      .pb-cf__item
      {
        position: relative;
        margin-bottom: 10px;

        .pb-cf__icon
        {
          display: block;
          position: absolute;
          width: 46px; height: 31px;
          top: 0; left: 0;

          &.pb-cf__icon__email
          {
            @include font-icon("\e048", $grey_4, Dripicons, 40px);
          }

          &.pb-cf__icon__phone
          {
            @include font-icon("\e066", $grey_4, Dripicons, 40px);
          }

          &.pb-cf__icon__skype
          {
            @include font-icon("\f17e", $grey_4, FontAwesome, 40px);
          }
          &.pb-cf__icon__google
          {
            @include font-icon("\f0d4", $grey_4, FontAwesome, 40px);
          }
          &.pb-cf__icon__odnoklasniki
          {
            @include font-icon("\f0e6", $grey_4, FontAwesome, 40px);
          }
          &.pb-cf__icon__vk
          {
            @include font-icon("\f189", $grey_4, FontAwesome, 40px);
          }
        }
        }

        .pb-cf__text
        {
          display: block;
          margin-left: 40px;
          padding-left: 10px;
          height: 31px;
          line-height: 25px;
          color: $grey_4;
          @include transition(color 0.5s linear);
          cursor: default;

          &.pb-cf__text__clickable
          {
            cursor: pointer !important;
          }

          &:hover
          {
            color: $blue_1;

          }
        }
      }
    }

    .pb-cf__additional-info-vk
    {
      float: right;
    }

    .b-button.register-button
    {
      width: 100%;
      float: left;
      margin-bottom: 15px;
      @include b-form-button;
    }
  }

