@import "../Framework";

.copyright-block
  {
  @include span-columns(7, 12);
  @include box-sizing(border-box);

  .copyright-block__text
    {
    font-size: $font-b;
  }
}

.additional-info
  {
  @include prefix(1);
  @include span-columns(5 omega, 12);

  .copyright-icon
  {
    display: block;
    background-image: url("#{$I_D}CopyrightIndex/copyright-icon.png");
    background-repeat: no-repeat;
    width: 257px;
    height: 87px;
  }

  .copyright-info
  {
    background: white;
    margin-top: 15px;
    position: relative;
    font-size: $font-h;
  }
}
