@import "../Framework";
@import "../lib/Video";
@import "compass/css3/transition";

.slider-block
{
  @mixin pb-sb
  {
    position: relative;
    height: 100%;

    &:hover
    {
      .pb-sb__info-wrapper {height: 100%;}
      .pb-sb__value-wrapper {height: 0;}
    }

    .pb-sb__value-wrapper, .pb-sb__info-wrapper
    {
      background-color: $orange2;
      overflow: hidden;
    }

    .pb-sb__value-wrapper
    {
      @include clearfix;
      height: 100%;
      @include transition(height 0.3s linear);

      .pb-sb__icon-wrapper
      {
        float: left;
        position: relative;
        width: 112px;
        height: 100%;

        .pb-sb__icon
        {
          display: block;
          position: absolute;
          top: 50%; left: 50%;
          width: 73px; height: 69px;
          margin: {left: -36.5px; top: -34.5px;}
          background: url("#{$I_D}/HomeIndex/rating-icon.png");
        }
      }

      .pb-sb__value-wrapper
      {
        margin-left: 112px;
        height: 100%;

        .pb-sb__value
        {
          display: block;
          height: 100%;
          font-size: 56px;
          line-height: 92px;
          color: white;
          text-align: center;
          cursor: default;
        }
      }
    }

    .pb-sb__info-wrapper
    {
      height: 0;
      @include transition(height 0.3s linear);

      .pb-sb__additional-info
      {
        margin: 15px;
        display: block;
        font-size: $font-nb;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @include span-columns(12 omega, 12);
  margin-bottom: 70px;
  padding-right: 1px;

  .slider-block__rows
  {
    position: absolute;
    z-index: 1;
    display:  table;
    width: 965px;
    margin: auto;
  }

  .slider-block__row
  {
    margin: 0;
  }

  .slider-block__cell_max .slider-block__cell_min
  {
    display: table-cell !important;
    display: inline;
  }

  .slider-block__cell_max
  {
    float: left;
    width: 28.5714286%;
    height: 100px;
    background-color: #eee;
    border: 4px solid #4B73A5;

    .pb-sb
    {
      @include pb-sb;
    }
  }

  .slider-block__cell_min
  {
    float: left;
    width: 14.2857143%;
    height: 100px;
    border: 4px solid #4B73A5;
  }
}

.home-block
{
  @include span-columns(7, 12);
  @include box-sizing(border-box);

  .home-block__text
  {
    font-size: $font-b;
  }

  .home-block__news__text
  {
    margin: 10px;
    margin-top: 15px;
    text-align: left;
  }

  .home-block__news
  {
    position: relative;
    border: 1px solid $blue_2;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .home-block__news__date
  {
    position: absolute;
    right: 10px; top: -16px;
    height: 30px;
    width: 100px;
    padding: 5px;
    overflow: hidden;
    background-color: $blue_2;
    border: 1px solid $blue_2;
    @include box-sizing(border-box);
    text-align: center;
  }

  .home-block__news__date span
  {
    display: block;
    height: 20px; line-height: 20px;
    font-size: $font-n;
    color: #ffffff;
  }
}

.additional-info
{
  @include prefix(1);
  @include span-columns(5 omega, 12);

  .home-icon
  {
    display: block;
    background-image: url("#{$I_D}AboutIndex/about-icon.png");
    width: 257px;
    height: 87px;
  }

  .home-info
  {
    background: white;
    margin-top: 15px;
    position: relative;
    font-size: $font-b;
  }
}

.tab-block
{
  margin: {top: 70px; bottom: 70px;};
  @include span-columns(12 omega, 12);
}