@import "../Framework";
@import "lib/Shared";

.youtube-block
  {
  width: 300px;
  height: 200px;
  border: 6px solid $orange;
  background-color: #231F20;
  float: right;
  margin: 0 0 1em 1em;

  h1
    {
    font-size: $font-h;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 75px;
  }
}

.mycrypt-exchange
  {
  @include span-columns(12 omega, 12);
}


.b-sb__content
  {
  position: relative;
  @include clearfix;
}

.b-tb__content
  {
  @include span-columns(11, 12);

  .b-tb__header
    {
    border-bottom: 1px dashed;
    padding: 10px;

    .b-tb__header__text
      {
      font-size: $font-h;
    }
  }

  .b-tb__listWrapper
    {

    //Начинаю оборачивать dt
    @include listIconStart(b-tb__listWrapper__content, FontAwesome, $blue_a_4_c2);

    //#region Заполняю иконки
    @include listIcon(b-tb__listWrapper__content, 1, '\f19c');
    @include listIcon(b-tb__listWrapper__content, 2, "\f136");
    @include listIcon(b-tb__listWrapper__content, 3, "\f0cc");
    @include listIcon(b-tb__listWrapper__content, 4, "\f007");
    @include listIcon(b-tb__listWrapper__content, 5, "\f007");
    @include listIcon(b-tb__listWrapper__content, 6, "\f007");
    @include listIcon(b-tb__listWrapper__content, 7, "\f021");
    @include listIcon(b-tb__listWrapper__content, 8, "\f0d6");
    @include listIcon(b-tb__listWrapper__content, 9, "\f0d6");
    @include listIcon(b-tb__listWrapper__content, 10, "\f15b");
    @include listIcon(b-tb__listWrapper__content, 11, "\f0f2");
    @include listIcon(b-tb__listWrapper__content, 12, "\f158");
    @include listIcon(b-tb__listWrapper__content, 13, "\f080");
    @include listIcon(b-tb__listWrapper__content, 14, "\f017");
    @include listIcon(b-tb__listWrapper__content, 15, "\f080");
    @include listIcon(b-tb__listWrapper__content, 16, "\f045");
    @include listIcon(b-tb__listWrapper__content, 17, "\f090");
    @include listIcon(b-tb__listWrapper__content, 18, "\f0c0");
    @include listIcon(b-tb__listWrapper__content, 19, "\f0f0");
    @include listIcon(b-tb__listWrapper__content, 20, "\f0f0");
    @include listIcon(b-tb__listWrapper__content, 21, "\f0f0");
    @include listIcon(b-tb__listWrapper__content, 22, "\f0c0");
    @include listIcon(b-tb__listWrapper__content, 23, "\f036");
    @include listIcon(b-tb__listWrapper__content, 24, "\f038");
    @include listIcon(b-tb__listWrapper__content, 25, "\f0e8");
    @include listIcon(b-tb__listWrapper__content, 26, "\f03c");
    @include listIcon(b-tb__listWrapper__content, 27, "\f022");
    @include listIcon(b-tb__listWrapper__content, 28, "\f00b");
    @include listIcon(b-tb__listWrapper__content, 29, "\f17a");
    @include listIcon(b-tb__listWrapper__content, 30, "\f0f6");
    @include listIcon(b-tb__listWrapper__content, 31, "\f187");
    @include listIcon(b-tb__listWrapper__content, 32, "\f029");
    //#endregion фуххх, заполнено:D
  }
}

//#region Блок скетча
$pb-scetch__scetch-box_Width: 208px;
$pb-scetch__scetch-box_Height: 195px;
$pb-scetch__scetch-box_Height_block: 367px;
$pb-scetch__scetch-box_Bg-color: #32BFB2;

.pb-scetch
  {
  position: relative;
  top: -70px; left: 90px;
  float: left;
  height: $pb-scetch__scetch-box_Height_block + 63px;
  width: 745px;
  margin-top: 60px;

  &.pb-scetch_orientation_right
    {
    .pb-scetch__scetch-box
      {
      left: auto; right: 0;
    }

    .pb-scetch__additional-info
      {
      .pb-scetch__text-block
        {
        text-align: left;
      }
    }

    .pb-scetch__additional-info
      {
      right: auto; left: 0; top: 0;
    }
  }

  .pb-scetch__scetch-box
    {
    width: $pb-scetch__scetch-box_Width;
    height: $pb-scetch__scetch-box_Height + 63px;
    position: absolute;
    top: 0; left: 0;

    .pb-scetch__image-box
      {
      position: absolute;
      top: 0; left: 0;
      width: $pb-scetch__scetch-box_Width;
      height: $pb-scetch__scetch-box_Height;
      background-color: $pb-scetch__scetch-box_Bg-color;

      .pb-scetch__icon
        {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .pb-scetch__image-box img
      {
      -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
      filter: url(#drop-shadow);
      -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
      filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }

    .pb-scetch__text-block
      {
      position: absolute;
      bottom: 0; left: 0;
      width: $pb-scetch__scetch-box_Width;
      height: 63px;
      @include box-sizing(border-box);
      border: 1px solid $pb-scetch__scetch-box_Bg-color;
      overflow: hidden;
      padding: 10px;

      .pb-scetch__text
        {
        display: block;
        text-align: center;
        font-size: $font-n;
        font-family: cursive;
        height: 43px; line-height: 43px;
      }
    }
  }

  .pb-scetch__additional-info
    {
    position: absolute;
    bottom: 0; right: 0;
    width: 412px;

    .pb-scetch__text-block
      {
      display: block;
      width: 100%;
      //height: 68px;
      overflow: hidden;
      text-align: right;
      font-size: $font-b;
      @include box-sizing(border-box);
    }
  }
}
//#endregion

.b-eb__content
  {
  position: relative;
  @include clearfix;

  @include span-columns(11, 12);

  .b-eb__centertext
    {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
  }

  .b-eb__sketch
    {
    width: 100%;
    height: 300px;
  }

  .b-eb__sketch img
    {
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  }
}