/*
* Админ панель
*/

@import "compass/css3/transition";
@import "../AdminFramework";
@import "../lib/Admin.Blocks/AdminBlock";

$default-layout_Bg-color: $blue_a_4;

@mixin extjs__pop-up-window
{
  .x-window-header-default
  {
    background-color: $blue_a_4_c3_c;
    border-color: $blue_a_4_c3_c;

    .x-tool-img {background-color: transparent;}

    .x-window-header-text-default {color: white !important;}
  }

  .x-window-default
  {
    border-color: $blue_a_4_c3_c;

    &, .metro &, .metro &, .metro &
    {
      div, span:not([for]):not(.b-ib__validation-message) , p
      {
        font-family: Segoe UI;
        color: $blue_a_4_c2;
      }

      input[type="button"], input[type="submit"], input[type="reset"]
      {
        font-family: Segoe UI; font-size: $font-nb; color: white;
      }

      h1, h2, h3, h4, h5, h6 {font-family: Segoe UI; font-size: $font-h;}
    }
  }

  .x-window-body-default
  {
    background-color: $blue_a_4;
  }

  .x-toolbar-footer
  {
    background-color: $blue_a_4_c3_c;
  }
}

@include extjs__pop-up-window;

.x-menu
{
  border-color: $red_a_1;

  .x-menu-item-text {font-family: "Segoe UI" !important; color: $blue_a_4_c2 !important;}

  .x-menu-item-active {background-color: $blue_a_4_c3_c;}
}

.pb-admin-panel
{
  .x-border-layout-ct {background-color: $default-layout_Bg-color;}

  &, .metro &, .metro &, .metro &
  {
    div, span:not([for]):not(.b-ib__validation-message) , p
    {
      font-family: Segoe UI;
      color: $blue_a_4_c2;
    }

    input[type="button"], input[type="submit"], input[type="reset"]
    {
      font-family: Segoe UI; font-size: $font-nb; color: white;
    }

    h1, h2, h3, h4, h5, h6 {font-family: Segoe UI; font-size: $font-h;}
  }

  .b-f input[type='text'], .b-f input[type='password'], .b-f textarea {font-family: "Segoe UI";}

  //#region Main menu
  #MainLeft_Menu
  {
    .x-panel-header-default
    {
      background-color: $lime_1;

      .x-tool-img {background-color: $lime_1;}
      border: none;
    }

    #MainLeft_Menu-innerCt
    {
      border-right: 9px solid $lime_1;
    }

    #MainLeft_Menu_header_hd-textEl
    {
      display: block;
      color: white;
      font-size: 25px;
      text-align: center;
      height: 40px; line-height: 40px;
      font-family: Lato !important;
    }


    .pb-mm
    {
      .pb-mm__menu-item-wrapper
      {
        position: relative;
        height: 50px;
        border-bottom: 1px solid black;
        @include transition(background-color 0.15s linear);

        &.pb-mm__menu-item-wrapper-active
        {
          background-color: #4d5777;
        }

        &:hover
        {
          background-color: #4D5777;

          .pb-mm__icon-wrapper .pb-mm__icon:before {color: #A0AABC;}
        }

        .pb-mm__icon-wrapper
        {
          position: absolute;
          top: 0; left: 10px;
          line-height: 60px;
          height: 50px;
          width: 50px;

          .pb-mm__icon
          {
            &.pb-mm__icon__userinfo
            {
              @include font-icon("\e043", $blue_a_4_c2, "Dripicons", 25px);
            }

            &.pb-mm__icon__browse
            {
              @include font-icon("\e055", $blue_a_4_c2, "Dripicons", 25px);
            }

            &.pb-mm__icon__addmycrypt
            {
              @include font-icon("\e036", $blue_a_4_c2, "Dripicons", 25px);
            }

            &.pb-mm__icon__controlpanel
            {
              @include font-icon("\e027", $blue_a_4_c2, "Dripicons", 25px);
            }

            &.pb-mm__icon__salespeople
            {
              @include font-icon("\e026", $blue_a_4_c2, "Dripicons", 25px);
            }

            &.pb-mm__icon__mycryptTransaction
            {
              @include font-icon("\e035", $blue_a_4_c2, "Dripicons", 25px);
            }

            &.pb-mm__icon__systemSettings
            {
              @include font-icon("\e027", $blue_a_4_c2, "Dripicons", 25px);
            }

           &:before
           {
             line-height: inherit;
             @include transition(color 0.15s linear);
           }
          }
        }

        .pb-mm__text-wrapper
        {
          line-height: 50px;
          margin-left: 50px;
          text-align: center;
          text-size: $font-b;
          color: #BEBECF;
          font-family: Lato !important;
        }
      }
    }
  }
  #MainLeft_Menu-placeholder
  {
    background-color: $lime_1;
    border: none;

    .x-tool-img {background-color: $lime_1;}
  }
  //#endregion
}