/*
* Админ панель
*/

@import "compass/css3/transition";
@import "../AdminFramework";
@import "../lib/Admin.Blocks/AdminBlock";

$default-layout_Bg-color: $blue_a_4;

.pb-admin-panel
{
  .x-border-layout-ct {background-color: $default-layout_Bg-color;}

  &, .metro &, .metro &, .metro &
  {
    div, span:not([for]):not(.b-ib__validation-message) , p
    {
      font-family: Lato;
      color: $blue_a_4_c;
    }

    input[type="button"], input[type="submit"], input[type="reset"]
    {
      font-family: Lato; font-size: $font-nb; color: white;
    }

    h1, h2, h3, h4, h5, h6 {font-family: Lato; font-size: $font-h;}
  }

  .b-f input[type='text'], .b-f input[type='password'], .b-f textarea {font-family: "Lato";}

  //#region Main menu
  #MainLeft_Menu
  {
    .x-panel-header-default
    {
      background-color: $lime_1;

      .x-tool-img {background-color: $lime_1;}
      border: none;
    }

    #MainLeft_Menu-innerCt
    {
      border-right: 9px solid $lime_1;
    }

    #MainLeft_Menu_header_hd-textEl
    {
      display: block;
      color: white;
      font-size: 25px;
      text-align: center;
      height: 40px; line-height: 40px;
    }

    .pb-mm
    {
      .pb-mm__menu-item-wrapper
      {
        position: relative;
        height: 50px;
        border-bottom: 1px solid black;
        @include transition(background-color 0.15s linear);

        &:hover
        {
          background-color: #4D5777;

          .pb-mm__icon-wrapper .pb-mm__icon:before {color: #A0AABC;}
        }

        .pb-mm__icon-wrapper
        {
          position: absolute;
          top: 0; left: 10px;
          line-height: 50px;
          height: 50px;
          width: 50px;

          .pb-mm__icon
          {
            @include font-icon("\e037", $blue_a_4_c2, "Dripicons", 25px);

           &:before
           {
             line-height: inherit;
             @include transition(color 0.15s linear);
           }
          }
        }

        .pb-mm__text-wrapper
        {
          line-height: 50px;
          margin-left: 50px;
          text-align: center;
          text-size: $font-b;
          color: #BEBECF;
        }
      }
    }
  }
  #MainLeft_Menu-placeholder
  {
    background-color: $lime_1;
    border: none;

    .x-tool-img {background-color: $lime_1;}
  }
  //#endregion
}