@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.MyCryptPage;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb b-sb__type__with-icon mycrypt-exchange">
  <header class="b-sb__top-section">

    <div class="b-sb__header">
      <div class="b-sb__title">
        <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.MyCryptPage</h1>
      </div>

      <div class="b-sb__header--content">
      </div>
    </div>


    <aside class="b-sb__icon">
      <i class="all-icon mycrypt-icon"></i>
    </aside>

    <div class="b-sb__border-top"></div>
  </header>

  <div class="b-sb__content">
    <div class="pb-scetch">
      <div class="pb-scetch__scetch-box">
        <div class="pb-scetch__image-box">
          <img class="all-icon mycrypt-icon" src="/Content/images/MycryptIndex/register-scetch.png" />
        </div>

        <div class="pb-scetch__text-block">
          <span class="pb-scetch__text text">Lorem ipsum dolor sit amet</span>
        </div>
      </div>

      <div class="pb-scetch__additional-info">
        <span class="pb-scetch__text-block text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
          Nam tincidunt tortor et dolor commodo vehicula
        </span>
        <hr class="pb-scetch__hr b-hr b-hr_orientation_right" />
      </div>
    </div>
    
    <div class="pb-scetch pb-scetch_orientation_right">
      <div class="pb-scetch__scetch-box">
        <div class="pb-scetch__image-box">
          <img class="all-icon mycrypt-icon" src="/Content/images/MycryptIndex/trade-scetch.png" />
        </div>

        <div class="pb-scetch__text-block">
          <span class="pb-scetch__text text">Lorem ipsum dolor sit amet</span>
        </div>
      </div>

      <div class="pb-scetch__additional-info">
        <span class="pb-scetch__text-block text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
          Nam tincidunt tortor et dolor commodo vehicula
        </span>
        <hr class="pb-scetch__hr b-hr b-hr_orientation_left" />
      </div>
    </div>

    <div class="pb-scetch">
      <div class="pb-scetch__scetch-box">
        <div class="pb-scetch__image-box">
          <img class="all-icon mycrypt-icon" src="/Content/images/MycryptIndex/get-money-scetch.png" />
        </div>

        <div class="pb-scetch__text-block">
          <span class="pb-scetch__text text">Lorem ipsum dolor sit amet</span>
        </div>
      </div>

      <div class="pb-scetch__additional-info">
        <span class="pb-scetch__text-block text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
          Nam tincidunt tortor et dolor commodo vehicula
        </span>
        <hr class="pb-scetch__hr b-hr b-hr_orientation_right" />
      </div>
    </div>
  </div>
</section>
