@{
    ViewBag.Title = @MLMExchange.Properties.ResourcesA.HomePage;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="slider-block">
    <div class="slider-block__rows">
        <div class="slider-block__row">
            <div class="slider-block__cell_max"><h2>MyCRYPT</h2></div>
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_max"><h2>MyCRYPT</h2></div>
            <div class="slider-block__cell_min"></div>
        </div>

        <div class="slider-block__row">
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_max"><h2>MyCRYPT</h2></div>
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_min"></div>
        </div>

        <div class="slider-block__row">
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_max"><h2>MyCRYPT</h2></div>
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_min"></div>
            <div class="slider-block__cell_max"><h2>MyCRYPT</h2></div>
        </div>
    </div>
        <div class="carousel" id="carousel1">
            <div class="slide">
                <img src="http://forexaw.com/NEWs/Korporaziya/News_of_large_companies_and_corporations/fimg1942916_goldman_posledstviya_oshibki_birzha.jpg" class="cover1" />
            </div>

            <div class="slide">
                <img src="http://www.hsci.ru/content/news/exchn.jpeg" class="cover1" />
            </div>

            <div class="slide">
                <img src="http://forbes.kz/img/articles/a937c1a950dfe68a67b2a5f284521bcb-big.jpg" class="cover1" />
            </div>
        </div>
        <script>
            $(function () {
                $("#carousel1").carousel({
                    height: 300,
                    period: 3000,
                    duration: 2000,
                    markers: {
                        show : false
                    }
                });
            })
        </script>
</section>

<section class="b-sb home-block">
    <header class="b-sb__title">
    <h1 class="b-sb__text">Новости</h1>
    </header>
    <div class="b-sb__content home-block__text">
        <div class="home-block__news">
            <div class="home-block__news__date"><span>22.04.2014</span></div>
            <div class="home-block__news__text">Что-то произошло на бирже...</div>
        </div>

        <div class="home-block__news">
            <div class="home-block__news__date"><span>22.04.2014</span></div>
            <div class="home-block__news__text">Что-то произошло на бирже...</div>
        </div>

        <div class="home-block__news">
            <div class="home-block__news__date"><span>22.04.2014</span></div>
            <div class="home-block__news__text">Что-то произошло на бирже...</div>
        </div>

        <div class="home-block__news">
            <div class="home-block__news__date"><span>22.04.2014</span></div>
            <div class="home-block__news__text">Что-то произошло на бирже...</div>
        </div>
    </div>
</section>

<section class="additional-info">
    <i class="home-icon"></i>
    <aside class="b-ai home-info balloon right">
        <div class="text b-ai_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
            Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero,
            sit amet consequat lectus. Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla,
            in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
            Mauris gravida libero sed dictum condimentum
        </div>
    </aside>
</section>

<section class="tab-block">
    <div class="tab-control" data-role="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#_page_1">Цель</a></li>
            <li><a href="#_page_2">Миссия</a></li>
        </ul>

        <div class="frames">
            <div class="frame" id="_page_1">
                <p>Таб с целями</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
                    Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero,
                    sit amet consequat lectus. Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla,
                    in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
                    Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
                    Mauris gravida libero sed dictum condimentum
                </p>
            </div>
            <div class="frame" id="_page_2">
                <p>Таб с миссиями</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
                    Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero,
                    sit amet consequat lectus. Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla,
                    in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
                    Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
                    Mauris gravida libero sed dictum condimentum
                </p>
            </div>
        </div>
    </div>
</section>
