@{
  ViewBag.Title = @MLMExchange.Properties.ResourcesA.OperationSuccess;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb pb-ss">
  <header class="b-sb__title">
    <h1 class="b-sb__text">@MLMExchange.Properties.ResourcesA.OperationSuccess</h1>
  </header>

  <div class="b-sb__content">
    <div class="pb-ss__message">
      <dl class="pb-ss__message_content">
        <dt>@ViewBag.TextSuccess</dt>
      </dl>
    </div>
  </div>
</section>

