@{
    ViewBag.Title = @MLMExchange.Properties.ResourcesA.AboutUs;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb about-block">
  <header class="b-sb__title">
    <h1 class="b-sb__text">О компании</h1>
  </header>
  
  <div class="b-sb__content about-block__text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum
      </p>
  </div>
</section>

<section class="additional-info">
    <i class="about-icon"></i>

  <aside class="b-ai about-info balloon right">
    <div class="text b-ai_text">
      Lorem ipsum dolor, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
      Nam tincidunt tortor et dolor commodo vehicula
    </div>
  </aside>
</section>

<section class="b-videos">
  <div class="b-videos__video-wrapper">
    <iframe class="b-videos__video" src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>

    <div class="b-videos__additional-info">
      <span class="b-videos__text text"><i>Lorem ipsum dolor</i></span>
    </div>
  </div>

  <div class="b-videos__video-wrapper">
    <iframe class="b-videos__video" src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>

    <div class="b-videos__additional-info">
      <span class="b-videos__text text"><i>Lorem ipsum dolor</i></span>
    </div>
  </div>
</section>

