@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-sb about-block">
    <header class="b-sb__title">
        <h1 class="text">О компании</h1>
    </header>

    <div class="b-sb__content about-text" id="about-text">
        <div class="about-ptext">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero, sit amet consequat lectus.
                Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
                Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien. Mauris gravida libero sed dictum condimentum
            </p>
        </div>
    </div>
</section>

<section class="additional-info">
    <i class="about-icon"></i>

    <article class="b-ai about-info">
        <div class="text b-ai_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sodales pulvinar.
            Nam tincidunt tortor et dolor commodo vehicula. Cras eget scelerisque libero,
            sit amet consequat lectus. Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla,
            in porta augue tellus ac purus. Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
            Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
            Mauris gravida libero sed dictum condimentum
        </div>
    </article>
</section>

