@import "framework";

/*
* Override Ext.NET styles
*/

.x-body
{
  background-color: $body_BgColor;
}

.x-panel-body-default
{
  background-color: $blue_a_4;
}

//#region Buttons
.x-btn
{
  &.x-btn-default-small
  {
    .x-btn-inner
    {
      font-weight: normal;
    }
  }
}
//#endregion