@import "susy";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

$sass_Dir: "/Content/sass";
$I_D: "/Content/images/";

//#region GridSettings
$total-columns: 12;
$column-width: 62px;
$gutter-width: 20px;
$grid-padding: 20px;
@include border-box-sizing;

$container-style: static;
//#endregion

//#region Font-sizes
$font-s: 11px;
$font-ns: 12px;
$font-n: 13px;
$font-nb: 14px;
$font-b: 16px;
$font-bb: 18px;
$font-h: 20px;
$font-b-b: 30px;
//#endrergion

//#region Colors
$grey_1: #A7A9AC;
$grey_2: #68696B;
$grey_3: #f0f0f0;
$grey_4: #DADADB;
$red_1: #ED1C24;
$red_2: rgba(109, 65, 87, 0.77);
$blue_1: #45a2d0;
$blue_2: #0076C0;
$blue_3: #0055D4;
$turquoise : #C8E5F6;
$orange : #F15A29;
$orange2: #C74026;
$lime_1: #58C4C6;
$green-light: #2ECC71;
$green-dark: #27AE60;
$white_1: #F3F3F3;
$body_BgColor: #4B73A5;

$color_text__warning_color: #F9BF3B;

  //Admin colors
  //$blue_a_4: #394264;
$blue_a_4: #f7f7f7;
  $blue_a_4_c: rgba(72, 79, 102, 0.79);
//$blue_a_4_c2: #7B87AF;
$blue_a_4_c2: $blue_a_4_c;
  //$blue_a_4_c3: #353F59;
$blue_a_4_c3: #ffffff;
  //$blue_a_4_c3_c: #2F374B;
$blue_a_4_c3_c: #a7b3c0;

  $blue_a_5: #007a9f;

  $color_grean_sea: #16A085;
  $color_green_sea_c: #1ABC9C;

  $red_a_1: #E74C3C;
  $red_a_1_c: #973F36;
//#endregion

//#region Шрифты
@font-face {
  font-family: Lato;
  src: url("/Content/Fonts/Lato/Lato-Regular.eot");
  src: url("/Content/Fonts/Lato/Lato-Regular.ttf");
  src: url("/Content/Fonts/Lato/Lato-Regular.woff");
}

@font-face {
  font-family: Dripicons;
  src: url("/Content/Fonts/Dripicons/dripicons.eot");
  src: url("/Content/Fonts/Dripicons/dripicons.ttf");
  src: url("/Content/Fonts/Dripicons/dripicons.woff");
}

@font-face {
  font-family: FontAwesome;
  src: url('/Content/Fonts/FontAwesome/fontawesome-webfont.eot?v=4.1.0');
  src: url('/Content/Fonts/FontAwesome/FontAwesome.otf?v=4.1.0') format("opentype");
  src: url('/Content/Fonts/FontAwesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype');
  src: url('/Content/Fonts/FontAwesome/fontawesome-webfont.woff?v=4.1.0') format('woff');
  src: url('/Content/Fonts/FontAwesome/fontawesome-webfont.svg?v=4.1.0');
  src: local('FontAwesome');
}

/*
* Вставить иконку из шрифта
* @param $content Задать ID конкретной иконки из шрифта
* @param $color Цвет иконки
* @param $font-size Размер иконки. Фактически это размер шрифта
*/
@mixin font-icon($content, $color, $icon-pack: FontAwesome, $font-size: $font-n)
{
  &:before
  {
    font-family: $icon-pack;
    content: $content;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    font-size: $font-size;
    color: $color;
  }
}
//#endregion

@mixin _with-grid-settings($columns)
{

  @include with-grid-settings($columns, (($column-width*$total-columns + $gutter-width*$total-columns - $gutter-width*$columns)/$columns), $gutter-width, $grid-padding)
  {
    @content;
  }
}

@import "lib/Shared_lib";


//#region Частные настройки. TODO:Rtv Вынести в отдельнвые файлы настройки для каждого модуля
  //#region Buttons
  $buttonHeight_n: 30px;
  //#endregion
//#endregion