@import "framework";
@import "lib/Shared_lib";
@import "compass/css3/transform";

$metro__button_Active_Color: $blue_3;

/*
* Перебитие css-правил из metro ui css
***/

.metro {
  h1, h2, h3, h4, h5, h6 {margin: 0; font-size: $font-b; line-height: $font-b;}

  div, p
  {
    font-size: $font-b;
    color: $grey_2;
  }

  .button
  {
    padding: 0; margin: 0;

    &:active
    {
      background-color: $metro__button_Active_Color;
    }
  }

  hr
  {
    @include b-hr;
  }

  .balloon {
    border-color: #B3B3B3;
  }

  .tab-control .frames, .tab-control .tabs>li>a
  {
    border: 1px solid $blue_1;
  }
  .tab-control .tabs>li>a
  {
    padding: 10px 30px;
    border-bottom: none;
  }
  .tab-control .tabs>li
  {
    margin-left: 10px;
  }

  //#region Блок-слайдер (открывающийся/закрывающийся)
  [data-role=panel]
  {
    .panel-header
    {
      position: relative;

      &:after
      {
        content: "" !important;
      }

      .ab-panel__icon
      {
        position: absolute;
        top: 12px;
        right: 8px;
        width: 30px; height: 30px;
        background: url("#{$I_D}/FaqIndex/down-arrow.png") center no-repeat;
        @include transition(transform 0.05s linear);
        @include transform(rotate(90deg));
      }
    }

    &.collapsed
    {
      .ab-panel__icon
      {
        @include transform(rotate(0deg));
      }
    }
  }
  //#endregion

  //#region Иконки на полях ввода (input)
  .input-control.text .btn-clear {bottom: 9px; top: auto; &:focus, &:active {display: block;}}

  .input-control.text input
  {
    &:focus { ~ .btn-clear {display: block;}}
  }
  //#endregion
}

.metro .stepper
{
  margin-top: 50px;
}

* {
  @include box-sizing(content-box);
}