@import "compass/reset";
@import "framework";

// Libs
@import "lib/Shared";
@import "lib/Form";
@import "lib/Error";
@import "MetroUICss_Override";
@import "ExtNET_Override";
@import "Buttons_Override";
@import "OpenTip_Override";
@import "Lightbox_Override";

//AdminArea
@import "AdminArea/AdminPanel";

.b-sb
{
  @include b-sb();
}

html, body
{
  height: 100%;
  width: 100%;
}

.b-a
{
  background-image: url("#{$I_D}images/background.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

//#region Fonts
body
{
  //font-family: Tahoma, Geneva, sans-serif;
}
//#endregion

@import "MainHeader";
@import "MainTopMenu";
@import "Footer/_MainFooter";
@import "MainChangableContent";
@import "Scroller";

.main-wrapper
{
  position: relative;
  @include container;
  background-color: white;
  min-height: 100%;
  padding-bottom: ($main-footer_Height + 40px);
  @include box-shadow(#878787 0px 0px 10px);
  //@include susy-grid-background;
}

//#region Для ext.js валидация
#unlicensed {display: none !important;}
//#endregion


