@import "compass/reset";
@import "Framework";

// Libs
@import "lib/Shared";
@import "lib/Form";


.b-button
{
  border: none;
  display: block;
  cursor: pointer;
  @include opacity(1);

  &:hover
  {
    @include opacity(0.9);
  }
}

.b-sb
{
  @include b-sb();
}

html, body
{
  height: 100%;
  width: 100%;
}

//#region Fonts
body
{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: $font-n;
}
//#endregion

.main-wrapper
{
  position: relative;
  @include container;
  height: 100%;
  //@include susy-grid-background;
}

@import "MainHeader";
@import "MainTopMenu";
@import "Footer/_MainFooter";
@import "MainChangableContent";


