@{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.FAQ;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="faq-block">
  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Кто может принять участие?
    </div>
    <div class="panel-content">
      <p>
        Принять участие может любое дееспособное лицо, достигшее 18 лет. Для этого необходимо пройти регистрацию и верификацию на сайте Биржи Мy Crypto (MC).
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      На каком языке заполнять регистрационную форму?
    </div>
    <div class="panel-content">
      <p>
        Регистрироваться в системе вы можете как с использованием Кириллицы, так и с
        использованием Латиницы, а написание вашего логина и логина вашего пригласителя только на Латинице.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Сколько аккаунтов можно зарегистрировать?
    </div>
    <div class="panel-content">
      <p>
        Вы можете зарегистрировать сколько угодно аккаунтов.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Могут ли участвовать в торгах на бирже МС участники пирамиды МММ- 2011/12? Участники
      HYIP- и матричных проектов, участие в которых повлекло потерю денежных средств? Могут ли участвовать те, у кого нет потерь в других проектах?
    </div>
    <div class="panel-content">
      <p>
        Да. На бирже может принять участие любое дееспособное лицо, независимо от того, имеются ли у него
        долговые обязательства или таковых нет. Мы принимаем долговые обязательства от вкладчиков пирамиды МММ, участников HYIP- и различных матричных проектов. Вам необходимо после регистрации прикрепить в своем кабинете скриншот ЛК проекта с указанием суммы долга или скриншот кошелька, с которого переводились деньги в проект, с указанием наименования проекта. Располагая свободными денежными средствами,  вы можете использовать их в МС и получить прибыль.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Могу ли я, являясь держателем  условных единиц (МС), самостоятельно выкупить у себя  их часть, либо   же выкупить их полностью?
    </div>
    <div class="panel-content">
      <p>
        Да. Вы можете самостоятельно выкупать у себя МС. Для этого предусмотрена операция автовыкупа. (ознакомьтесь с Рекомендациями).
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Как пополнить баланс МС?
    </div>
    <div class="panel-content">
      <p>
        Сумму долга, возникшего перед вами в результате участия в одном из перечисленных интернет-проектов, 
        нужно занести в специальное поле вашей учетной записи и прикрепить "скриншот" личного кабинета, 
        или сканы (при отсутствии-качественные фотографии) чеков о денежных переводах. 
        Подойдет любой доказательный материал, который свидетельствует о вашем участии в том или ином проекте. 
        На всю сумму долга (но не более 500 000 руб.) вам будет начислена внутренняя валюта биржи в соотношении 1:1.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Я покупатель и хочу приобрести, к примеру, 1000 МС. У кого я их могу приобрести?
    </div>
    <div class="panel-content">
      <p>
        Вам необходимо иметь 1000 рублей. Приобретать 1000 МС вы будете у Продавца (участника, имеющего на своем балансе МС). 
        Для покупки Вам необходимо перейти в общий список Продавцов и выбрать в нем любого, 
        далее связаться по контактным данным и провести сделку купли-продажи, перечислив продавцу сумму согласно 
        Котировке на момент покупки МС.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Как проходит сделка купли-продажи? Приведите подробный пример.
    </div>
    <div class="panel-content">
      <p>Рассмотрим пример, в котором Вы будете ПРОДАВЦОМ.</p>
      <p>Для Вас основным параметром является Котировка. Котировка на сайте 10:1 - это означает, что за каждые проданные покупателю 10 МС, Вы получите 1 рубль. Вы размещаете в разделе «РЫНОК» любую сумму МС для продажи, но не больше суммы МС, находящейся на Вашем балансе. Покупатель решил приобрести у Вас 1000 МС. Ему необходимо перевести Вам 100 рублей согласно Котировке 10:1. После зачисления денежных средств на Ваш счет подтвердите получение, нажатием соответствующей кнопки в личном кабинете. 1000 МС у Вас спишется, остаток вернется на Ваш баланс. Для продолжения торгов, Вы должны вновь разместить МС для продажи в разделе «РЫНОК».</p>
      <p>Рассмотрим пример, где Вы, будете ПОКУПАТЕЛЕМ. В данном случае Вам важны все показатели. К примеру, на момент начала торговли основные показатели имеют следующие значения:</p>
      <ul class="list-block">
        <li>Котировка 10:1</li>
        <li>Процентная ставка 25%</li>
        <li>Длительность торговой сессии 6 часов</li>
        <li>Максимальная сумма сделки 1000 рублей</li>
      </ul>
      <p>Вы решили приобрести 1000 МС. Для покупки Вам нужно иметь 1000 рублей, перейти в раздел Личного кабинета РЫНОК и оформить заявку на покупку. Оформить покупку можно 2-мя способами:</p>
      <ul class="list-block">
        <li>выбрать Продавца из общего списка;</li>
        <li>найти Продавца по уникальному идентификатору.</li>
      </ul>
      <p>Выберите участника и нажмите на кнопку «Оформить покупку», система предложит указать сумму покупки, после чего автоматически сформирует платежные поручения</p>
      <p>Первый платеж – комиссионный сбор в размере 5% от суммы сделки, в данном примере это 50 рублей. Это обязательный невозвратный платеж, подтверждающий Ваше участие и активирующий механизм подбора встречных заявок. При поступлении денег на счет системы он подтверждается автоматически и сразу же Вам формируется платежное поручение с реквизитами продавца. Вы переводите Продавцу 100 рублей согласно котировке и ожидаете подтверждение получения средств продавцом. После подтверждения Продавцом получения оплаты, Вам формируются Платежные поручения на остаток суммы.</p>
      <p>Обратите внимание, что в остатке у Вас 850 рублей. На балансе в кабинете сейчас 1000 МС. Для активации Торговой сессии Вам необходимо оплатить платежное поручение на сумму, эквивалентную Вашему остатку, а именно на сумму 850 рублей. В кабинете Вам будет выставлено второе платежное поручение или несколько поручений на сумму остатка. Исполнив его по указанным в поручении(ях) реквизитам и дождавшись подтверждения от получателя, откройте Торговую сессию нажатием соответствующей кнопки. Согласно параметрам Длительность торговой сессии составляет 6 часов, а Процентная ставка 25%. Следовательно, через 6 часов Вам необходимо зайти в кабинет и Закрыть Торговую сессию нажатием соответствующей кнопки. Системой будут сформированы платежные поручения другим участникам, активирующим торговую сессию, на сумму 1250 рублей.  Ваша прибыль по данной сессии составила 250 рублей (25%) После поступления денежных средств на указанные Вами реквизиты, подтвердите их получение.</p>
      <p>Вы также можете выкупать МС у самого себя, тогда Ваша прибыль будет больше. Согласно данному примеру, Вы можете получить: 100 руб. +250 руб. = 350 руб.</p>
      <p>1000 МС купленных у Продавца списывается с Вашего баланса на баланс закрытых сделок системы.</p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Сколько торговых сделок я могу открыть одновременно с одним Продавцом?
    </div>
    <div class="panel-content">
      <p>
        Вы можете открывать одновременно только одну сделку с одним и тем же Продавцом.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Сколько торговых сессий я могу открыть одновременно?
    </div>
    <div class="panel-content">
      <p>Изначально вы можете открыть только одну торговую сессию (ТС). Но Вы можете открыть</p>
      <p>несколько ТС, если для этого выполнены определенные условия. Например, трое лично приглашенных на Биржу МС новых участников дают вам возможность открыть дополнительную торговую сессию.</p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое Торговая сессия?
    </div>
    <div class="panel-content">
      <p>
        Торговая сессия – временной интервал, которым ограничена "работа" ваших денег на бирже после оформления сделки купли-продажи. Может иметь разную длительность.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Как открыть торговую сессию?
    </div>
    <div class="panel-content">
      <p>Для открытия торговой сессии необходимо приобрести МС у Продавца, оплатив комиссионный сбор</p>
      <p>биржи, сумму продавцу согласно котировке на момент сделки и сделать переводы остальным игрокам рынка, обеспечив доходность по их сделкам. Выставляются платежные поручения необходимые к исполнению, вам необходимо совершить денежный перевод по указанным реквизитам.</p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Активация торговой сессии.
    </div>
    <div class="panel-content">
      <p>
        После покупки МС вам необходимо активировать торговую сессию. В личном кабинете после
        выполнения всех платежей и получения подтверждений о получении денежных средств становится активна кнопка «Открыть ТС». После активации система автоматически запустит поисковый механизм и согласно процентной ставке и временному интервалу подберет Вам встречные заявки.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Закрытие торговой сессии.
    </div>
    <div class="panel-content">
      <p>
        По истечении времени, обозначенного в параметрах «Длительность Торговой сессии» нужно
        закрыть торговую сессию и получить прибыль. В личном кабинете становится активной кнопка «Закрыть ТС».  После нажатия (закрытия ТС) система автоматически сформирует платежное поручение на перечисление денежных средств, включая процент,согласно процентной ставке. Средства вам будут переведены на указанные вами реквизиты. Вам необходимо будет в кабинете подтвердить получение средств.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что мне делать, если участник не переводит или не подтверждает получение денежных средств? Или отказывается от продажи МС?
    </div>
    <div class="panel-content">
      <p>
        В системе существуют Временные лимиты на совершаемые действия:
      </p>
      <ul class="list-block">
        <li>Подтверждение получения средств - 12 часов.</li>
        <li>Исполнение поручения на перевод - 12 часов.</li>
        <li>Одобрение/отклонение продавцом заявки на покупку от покупателя - 12 часов.</li>
      </ul>
      <p>Если в указанное время участником не было выполнено необходимых действий, заявка или поручение снимается и передается другому участнику. При повторном нарушении  учетная запись участника блокируется. Для разблокировки учетной записи необходимо сделать контрольный платеж на счет системы в сумме 50$.</p>
      <p>Все спорные вопросы решаются через Администрацию Биржи в соответствии с Соглашением.</p>
    </div>
  </div>


  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что делать, если я не хочу приглашать?
    </div>
    <div class="panel-content">
      <p>
        Если Вы не хотите приглашать людей, но желаете получать доход выше, вы можете
        участвовать в различных мероприятиях и акциях, проводимых Биржей МС.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Можно ли использовать интернет кошельки?
    </div>
    <div class="panel-content">
      <p>
        Да, в Личном кабинете есть список платежных систем, которые вы можете использовать.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое идентификатор?
    </div>
    <div class="panel-content">
      <p>
        Идентификатор - это уникальный персональный код, который распознается системой. С его
        помощью Торговая автоматизированная система находит Вам партнеров по Торговой сессии.  Он же является Вашим идентификатором в реферальной системе.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      На что используются комиссионные платежи (5%), перечисляемые на счет Системы? Из чего формируется прибыль компании?
    </div>
    <div class="panel-content">
      <p>
        Комиссионные платежи формируют бюджет, который используется для развития Системы (реклама, подбор персонала,  выплата зарплат, разработка программного обеспечения и пр.). Из этих же средств формируется и прибыль компании.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Не нашел юридических документов на сайте?
    </div>
    <div class="panel-content">
      <p>
        Мы не выставляем наших юридических документов, потому, что данный сервис обслуживает не одна компания,
        а люди, желающие оставаться вне регулирования со стороны органов государств их гражданства.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Организован ли чат компании для общения партнёров и как войти в этот чат?
    </div>
    <div class="panel-content">
      <p>
        Да. Войти в скайп-чат Вы можете здесь:

        <dl>
          <dt>1 чат</dt>
          <dd>
            <a href="#">myCrypto-1</a>
          </dd>

          <dt>2 чат</dt>
          <dd>
            <a href="#">myCrypto-2</a>
          </dd>

          <dt>3 чат</dt>
          <dd>
            <a href="#">myCrypto-3</a>
          </dd>
        </dl>
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Есть ли в системе система вознаграждения активных участников?
    </div>
    <div class="panel-content">
      <p>
        <dl>
          <dt><span>•	По количеству приглашённых рефералов - каждые три активных (торгующих) реферала дают возможность открытия дополнительной торговой сессии.</span></dt>
          <dt><span>•	Непосредственно с торговли Ваших рефералов</span></dt>
          <dd><span>Лидер - модератор чата, группы, тех поддержка, проверка скриншотов приглашенных им участников и подтверждение - 4% от прибыли рефералов</span></dd>
          <dd><span>Тестер - участник тестирования системы на пред. старте -  3%</span></dd>
          <dd><span>Брокер - продвинутый участник, права участника (размещение отзывов на форумах, продвижение проекта, имеющий более 100 приглашенных - 2%</span></dd>
          <dd><span>Участник - права участника, 1% от суммы прибыли с каждой сделки непосредственного реферала</span></dd>

          <dt><span>•	А так же периодические в виде специальных акций</span></dt>
          <dd><span>Запись видео — 500 рублей вручную на кошелек участника, участник должен прикрепить ссылку на видео в ЛК</span></dd>
          <dd><span>Полноценный отзыв в группу (с указанием даты регистрации, суммы сделки, суммы прибыли и подробным описанием эмоций по данному поводу) — 300 рублей.</span></dd>
        </dl>
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Какова минимальная сумма вывода реферального вознаграждения?
    </div>
    <div class="panel-content">
      <p>
        Вывод реферальных возможен при минимальной сумме 1000 рублей.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Время работы Биржи МС?
    </div>
    <div class="panel-content">
      <p>
        Время работы Биржи МС – 7 / 24. Прием заявок на обмен Долговых обязательств на МС – 7 /24. Проверка и подтверждение заявок - с понедельника по пятницу с 9-00 до 19-00. Суббота и воскресенье, а также все праздники согласно официального календаря Российской Федерации -  выходные дни. Все скриншоты, отправленные на проверку в эти дни будут проверены в первый рабочий день. В дальнейшем – автоматический режим проверки, 24 часа.
      </p>
    </div>
  </div>

</div>