@{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.FAQ;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="faq-block">
  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Являются ли работники Биржи МС специалистами в данной области, и какой у них опыт работы?
    </div>
    <div class="panel-content">
      <p>
        Использование системы МЛМ для привлечение инвесторов, является новым для организаторов
        Биржи МС. Однако краткосрочной торговлей активами на рынках, специалисты МС занимаются
        длительное время.
      </p>
    </div>
  </div>

  <div class="panel" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое My-Crypt биржа?
    </div>
    <div class="panel-content">
      <div class="video-block">
        <iframe class="b-videos__video" src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
      </p>
      <hr class="b-hr" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Не нашел юридических документов на сайте?
    </div>
    <div class="panel-content">
      <p>
        Здравствуйте уважаемый трейдер! Мы не выставляем наших юридических документов, потому,
        что данный сервис обслуживает не одна компания, а люди, желающие оставаться вне регулирования
        со стороны органов государств их гражданства.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Организован ли чат компании для общения партнёров и как войти в этот чат?
    </div>
    <div class="panel-content">
      <p>
        Да. Войти в скайп-чат Вы можете здесь:

        <dl>
          <dt>1 чат</dt>
          <dd>
            <a href="#">myCrypto-1</a>
          </dd>

          <dt>2 чат</dt>
          <dd>
            <a href="#">myCrypto-2</a>
          </dd>

          <dt>3 чат</dt>
          <dd>
            <a href="#">myCrypto-3</a>
          </dd>
        </dl>
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      На каком языке заполнять регистрационную форму?
    </div>
    <div class="panel-content">
      <p>
        Регистрироваться в системе Вы можете как с использованием Кириллицы, так и с
        использованием Латиницы, а написание Вашего ID и ID Вашего пригласителя только на Латинице и
        прописными буквами.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Сколько торговых сделок я могу открыть одновременно с одним брокером?
    </div>
    <div class="panel-content">
      <p>
        Уважаемый Брокер! Вы не можете открывать одновременно несколько торговых сессий с одним
        и тем же брокером.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Сколько торговых сделок я могу открыть одновременно с разными брокерами?
    </div>
    <div class="panel-content">
      <p>
        Уважаемый Брокер! Изначально Вы можете открыть только одну торговую сессию. Но, Вы
        можете открыть несколько Торговых сделок, если для этого выполнены некоторые условия. Три лично
        приглашенных на Биржу МС участника, открывают для Вас дополнительную торговую сессию.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что делать, если я не хочу приглашать?
    </div>
    <div class="panel-content">
      <p>
        Уважаемый Брокер! Если Вы не хотите приглашать людей, но желаете получать доход выше,
        Вы можете участвовать в различных мероприятиях и акциях проводимых Биржей МС.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Как сделать комиссионный платеж.
    </div>
    <div class="panel-content">
      <p>
        - Платеж через Перфект Мани.
        1) Зарегистрируйтесь и откройте себе счет на https://perfectmoney.is - сайт работает на русском
        языке и регистрация занимает несколько минут. Указывайте правильно на русском языке свой e-mail,
        телефон. Пароль создавайте на английском, чтобы были буквы и цифры. На e-mail придет Ваш номер
        Вашего счета для входа. Обязательно запишите свои данные для входа: Номер счета для входа и
        придуманный пароль.
        2) Теперь Вы можете пройти в личном кабинете PerfectMoney в раздел ВВОД. Выбрать удобную форму
        пополнения счета.
        3) Завершение: Теперь пройдите в личный кабинет Биржи МС. Если Вы уже совершаете покупку и
        Вам уже сформировано платежное поручение на оплату комиссионного сбора, то выбрав из списка
        платежную систему и нажав кнопку оплатить Вы переходите на страницу оформление платежа
        выбранной Вами платежной системы, на которой введя номер, кошелька, логин и пароль Вы
        оплачиваете сформированный счет. Подтверждение о получении платежа - автоматически.
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Как пополнить электронный кошелек.
    </div>
    <div class="panel-content">
      <p>
        Способы пополнения счета.
        • Удобно, если в данный момент работает пополнение с Платежных терминалов (это такие терминалы,
        которые стоят в общественных местах, где обычно в России и Украине пополняют сотовые телефоны).
        Для этого нужно выписать счет на пополнение. Указать свой номер телефона. Запишите 12-тизначный
        номер платежа и сумму, уже указанную по курсу в рублях или гривнах. Идите к терминалу и находите
        в одном из разделов ЕДИНУЮ КАССУ –Россия, ЕДИНЫЙ ГАМАНЕЦ http://ua.w1.ru/ - Украина, Тау-
        Кошелек http://www.tau.kz/ - Казахстан. Вводите номер платежа и вставляйте гривны или рубли в
        купюроприемник. Добавьте на 5% больше при оплате, так как учтите, что владелец самого терминала
        берет за посредничество, и, если оплатите недостаточно, платеж останется в Единой кассе и придется
        получать деньги обратно и платить заново. Переплата не пропадет, а можно ею, например, свой
        сотовый телефон пополнить из Единой кассы.
        • Очень просто и удобно пополнять свой счет в Перфекте через любой из обменников на выбор.
        Список обменников, которым можно 100% доверять опубликован на самом сервисе PerfectMoney по
        этой ссылке https://perfectmoney.is/business-partners.html
        Или можете подобрать обменник с выгодным курсом здесь - http://www.bestchange.ru/
        МЫ ПРИВЕДЕМ ПРИМЕРЫ С НЕКОТОРЫМИ ИЗ НИХ:http://menyal.net/ http://www.web-capital.biz/
        payment_system/vvod-vyvod-perfectmoney-pokupka-prodazha-obmen-na-rubli http://obmennik.com.ua/
        https://wmpaycash.net
      </p>
    </div>
  </div>
</div>