@{
  ViewBag.Title = MLMExchange.Properties.ResourcesA.FAQ;
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="faq-block">
  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Вопрос по поводу регистрации?
    </div>
    <div class="panel-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>

  <div class="panel" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое My-Crypt биржа?
    </div>
    <div class="panel-content">
      <div class="video-block">
        <iframe class="b-videos__video" src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
      </p>
      <hr class="b-hr" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое My-Crypt биржа?
    </div>
    <div class="panel-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое My-Crypt биржа?
    </div>
    <div class="panel-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое My-Crypt биржа?
    </div>
    <div class="panel-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое My-Crypt биржа?
    </div>
    <div class="panel-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>

  <div class="panel closed collapsed" data-role="panel">
    <div class="panel-header">
      <i class="ab-panel__icon"></i>
      Что такое My-Crypt биржа?
    </div>
    <div class="panel-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam accumsan sodales pulvinar. Nam tincidunt tortor et dolor commodo vehicula.
        Cras eget scelerisque libero, sit amet consequat lectus.
        Praesent tempor, sapien vestibulum ultricies vehicula, dolor velit gravida nulla, in porta augue tellus ac purus.
        Sed varius sed lacus at eleifend. Maecenas placerat augue vitae diam sollicitudin molestie.
        Quisque euismod, ante et sagittis sagittis, orci mauris pellentesque nisl, vitae sagittis mauris dolor sed sapien.
        Mauris gravida libero sed dictum condimentum
      </p>
    </div>
  </div>
</div>