@using Ext.Net
@using Ext.Net.MVC

@{
    ViewBag.Title = "_AdminPanel__Layout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var X = Html.X();
}

@Html.X().ResourceManager()

@helper MainMenu__InnerContent()
{
  <div class="pb-mm">
    @for (int i = 0; i <= 7; i++)
    {
      <a href="">
        <nav class="pb-mm__menu-item-wrapper">
          <div class="pb-mm__icon-wrapper"><i class="pb-mm__icon"></i></div>

          <span class="pb-mm__text-wrapper">Пол. информация</span>
        </nav>
      </a>
    }
  </div>
}

<section class="pb-admin-panel" id="pb-admin-panel__ID">
  @(X.Container().Layout(LayoutType.Border).Height(800).Items(
      X.Panel().ID("MainLeft_Menu").MinHeight(600).Region(Region.West).Width(236).Collapsible(true).CollapseMode(CollapseMode.Default)
        .HeaderConfig(X.PanelHeader().Height(74).Title(MLMExchange.Properties.ResourcesA.MainMenu__Header)).Content(x => MainMenu__InnerContent()),
      X.Panel().Region(Region.Center).Content(x => RenderBody())
          ).RenderTo("pb-admin-panel__ID"))
</section>
